<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs wide-text">
    <%= f.input :content %>
  </div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#note_content').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
  
  <% if @note.creator == nil || @note.creator == "" %>
    <div class="form-inputs">
      <%= f.hidden_field :creator, :value => current_user.email %>
    </div>
  <% end %>
  <br>
  <% if @note.creator %>
    <% if @note.creator == current_user.email %>
      <div class="form-inputs">
          <%= f.input :ltdaccess, inline_label: 'Private', label: false %>
      </div>
    <% end %>
  <% end %>
  <br>
  <!--
  <div class="form-inputs">
    <%#= f.input :project, label: "Associated project (optional):", selected: @note.project, collection: @projects.pluck(:title), prompt: "Select a project" %>
  </div>
  <br>
-->
  <div class="form-actions">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>

<% end %>