<ol class="breadcrumb">
	<li><%= link_to 'All Notes', notes_path %></li>
	<li class="active"><u>Editing</u></li>
</ol>

<div class="well">	
	<%= render 'form' %>
	<br>
	<% if @note.creator == current_user.email %>
		<%= link_to @note, method: :delete, data: { confirm: 'Delete note? This action cannot be undone' }, class: "btn btn-danger" do %>
		  <i class="fa fa-trash-o fa-lg"></i> Delete Note
		<% end %>
	<% end %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', notes_path %></li>
</ul>
