<% if @notes.count > 0 %>
  <div class="panel panel-info">
    <div class="panel-heading">
      All Notes
      <span class="badge badge-light">
        <%= @notes.count(:content) %>
      </span>
    </div>
    <div class="panel-body">
      <% @notes.each do |note| %>
        <% if (note.ltdaccess && current_user.email == note.creator) || !(note.ltdaccess) %>
          <div class="well well-sm">
            <% if note.ltdaccess %>
              <i class="fa fa-lock fa-lg"></i>
            <% end %>
            <%= sanitize note.content, tags: %w(b u i) %>
            <span class="label label-info">
              <%= @users.where('email = ?', note.creator).take.name %>
            </span>
            
            <% if note.project != nil %>
              <span class="label label-project"><%= note.project %></span>
            <% end %>

            <div class="btn-group">
              <%= link_to edit_note_path(note), class: "btn btn-default btn-sm" do %>
                <i class="fa fa-pencil fa-lg"></i>
               <% end %>
              
              <% if current_user.email == note.creator %>
                <%= link_to note, method: :delete, data: { confirm: 'Delete note? This action cannot be undone' }, class: "btn btn-default btn-sm" do %>
                  <i class="fa fa-trash-o fa-lg"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container-fluid">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-align">
        <h1 class="center-align">Create your first Note<h1>
        <%= link_to new_note_path, class: "project-button", :method => :get do %>
          <span class="feature-icon">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x green"></i>
                <i class="fa fa-file fa-stack-1x fa-inverse"></i>
              </span>
          </span>
          <span class="project-text">
            <span class="green">
              New Note
            </span>
          </span>
        <% end %>
        <div class="project-content">
          Quickly jot down whatever's on your mind so you can move forward with what's important.
          <br><br>  
          Some examples would be what's on your bulletin board, post-its, or even for general announcements.
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>