<ol class="breadcrumb">
  <li><%= link_to 'All Notes', notes_path %></li>
  <li class="active">New Note</li>
</ol>

<div class="well">
	<%= render 'form' %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', notes_path %></li>
</ul>


