<ol class="breadcrumb">
  <li><%= link_to 'All Notes', notes_path %></li>
  <li class="active"><%= @note.content %></li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
