<div class="well">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><b><%= resource_name.capitalize %></b> <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><br>
      <button type="submit" class="btn btn-success">
          <i class="fa fa-floppy-o fa-lg"></i>  Save
      </button>
    </div>
  <% end %>
</div>
<!--
<div class="jumbotron">
  <h3>Cancel my account</h3>

  <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
-->

<ul class="pager">
  <li class="previous"><%= link_to 'Back', :back %></li>
</ul>
