<h2>Sign up (New <%= resource_name.capitalize %>)</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><b><%= resource_name.capitalize %></b> <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  
  <!--
  <% if resource_name == "user" %>
    <%= f.label :account_id %><br>
    <%= f.text_field :account_id, :value => current_account.id %>
  <% end %>
  -->

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>