<table class="table table-striped">
  <tr class="table-header">
    <th>Status</th>
    <th>Importance</th>
    <th>Task</th>
    <th>Project</th>
    <th>Assigned</th>
  </tr>
  <tbody>
    <% @tasks_sorted.each do |task| %>
      <% if @projects.where('id=?',task.project_id).take %>
        <tr>
          <td>
            <% if task.done == true %>
              <i class="fa fa-circle-o fa-success"></i>
            <% elsif task.started %>
              <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
            <% else %>
              <i class="fa fa-circle-o fa-warning"></i>
            <% end %>
          </td>
          <td>
            <% if task.importance != nil %>  
              <% if task.importance == "priority" %>
                <% if task.priority == "high" %>
                    <span class="label label-danger">
                      <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                    </span>
                <% elsif task.priority == "low" %>
                  <span class="label label-danger">
                      <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                    </span>
                <% end %>
              <% elsif task.importance == "due" %>
                <span class="label label-danger">
                  <% if task.duedate != nil %>
                    <%= task.duedate.strftime("%b %e '%y") %>
                  <% else %>
                    Date not specified
                  <% end %>
                </span>    
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to task.description, edit_task_path(task) %>
          </td>
          <td>
            <span class="label label-project">
              <% if @projects.where('id=?',task.project_id).take %>
                <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
              <% end %>
            </span>
          </td>
          <td>
            <% if task.assignee != nil && task.assignee != ""%>
              <span class="label label-warning">
                to 
                <% if @users.where('email = ?',task.assignee).take %>
                  <%= @users.where('email = ?',task.assignee).take.name %>
                <% end %>
              </span>
              <% if task.creator != nil %>
                <span class="label label-info">
                  from 
                  <% if @users.where('email = ?',task.creator).take %>
                    <%= @users.where('email = ?',task.creator).take.name %>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>