<%= simple_form_for([@project, @task]) do |f| %>
  <%= f.error_notification %>
  
  <% if @task.assignee == current_user.email && @task.accepted != true%>
    <div class="form-inputs">
      <%= f.input :description, :autofocus => true %>
    </div>
    <br>
    <div class="form-inputs">
      <%= f.input :done, label: 'Done' %>
    </div>
    <br>
    <div class="form-inputs">
      <%= f.input :priority %>
    </div>
    <br>
    <div class="form-inputs">
      <%= f.input :order, disabled: true %>
    </div>
    <br>

    <br>
    <div class="form-inputs">
      <%= f.input :accepted, collection: [ nil, ["Accept", true], ["Reject", false]] %>
    </div>
  <% else %>
    <% if @task.creator == nil || @task.creator == "" %>
      <div class="form-inputs">
        <%= f.hidden_field :creator, :value => current_user.email %>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :description, :autofocus => true %>
    </div>
    <br>
    <div class="form-inputs">
      <%= f.input :done, inline_label: 'Done', label: false %>
    </div>
    <br>
    <!--
    <div class="container">
      <%#= f.input :done, as: :boolean, inline_label: true, label: false %>
    </div>
    <br>
    -->
    <% if @users.count > 1 %>
      <% if @task.creator == nil || @task.creator == "" || @task.creator == current_user.email %>
        <div class="form-inputs">
          <%= f.input :assignee, selected: @task.assignee, collection: @users.where('id <> ?', current_user.id).pluck(:email), prompt: "Select an assignee" %>
        </div>
      <% end %>
    <% end %>
    <br>
    
    <b>&nbsp;&nbsp;Choose ONE setting to be active</b>
    <br>
    <div class="form-inputs">
      <%= f.collection_radio_buttons :importance, [["", 'None'], ['due', ' Date/Time Due'], ['priority', ' Priority']], :first, :last %>
    </div>
    <br><br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#priority" role="tab" data-toggle="tab">Priority</a></li>
      <li><a href="#due" role="tab" data-toggle="tab">Due</a></li>
      <!--
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Repeat <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#repeatdaily" role="tab" data-toggle="tab">Daily</a></li>
          <li><a href="#repeatweekly" role="tab" data-toggle="tab">Weekly</a></li>
          <li><a href="#repeatmonthlydate" role="tab" data-toggle="tab">Monthly (on the Xth of month)</a></li>
          <li><a href="#repeatmonthlyday" role="tab" data-toggle="tab">Monthly (every Xth Xday)</a></li>
        </ul>
      </li>
      -->
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active form-inputs" id="priority">
        <br>
        <%= f.collection_radio_buttons :priority, [["Low","low"],["High","high"]], :last, :first %>
      </div>
      <div class="tab-pane form-inputs" id="due">
        <br>
        <%= f.input :duedate, label: "Date Due" %>
        
        <%#= f.input :duetime, label: "Time Due", :as => :time_picker  %>

        <%#= f.input :duedate, label: "Date", :as => :datepicker %>
        
        <%# @due = DateTime.new(@d.year, @d.month, @d.day, @t.hour, @t.min, @t.sec, @t.zone) %>
        <%#= f.hidden_field :due, :value => @due %>

        <%#= f.input :due, label: "Due" %>

        <!--
        <div class="center-margin">
          <b>Time Due</b>
          
          <input id="hour" name="hour" type="text" value="6" class="dial" data-width="100" data-height="100" data-cursor="true" data-min="1" data-max="12">
          <b>:</b>
          <input type="text" id="min" name="min" value="30" class="dial" data-width="100" data-height="100" data-cursor="true" data-min="0" data-max="59" data-thickness="0.2" data-step="5">
          <script>
          $(function() {
              $(".dial").knob();
          });
          </script>
        </div>
      -->
        <br>
      </div>
      <div class="tab-pane" id="repeatdaily">
        Repeat every <i>day</i>
        <%= f.input :repeat_time, label: "At this time:" %>
      </div>
      <div class="tab-pane" id="repeatweekly">
        Repeat every <i>week</i>
        <br>
        <%= f.input :repeat_day, :as => :wday, label: "On this day:" %>
        <br>
        <%= f.input :repeat_time, label: "At this time:" %>
      </div>
      <div class="tab-pane" id="repeatmonthlydate">
        Repeat every <i>month</i>
        <%= f.input :repeat_date, collection: 1..30, priority: ["1"], label: "On this day:" %>
        <br>
        <%= f.input :repeat_time, label: "At this time:" %>
      </div>
      <div class="tab-pane" id="repeatmonthlyday">
        <%= f.input :repeat_ordinal, collection: 1..4, priority: [1], label: "Every Xth:" %>
        <br>
        <% @current_day = DateTime.now.strftime("%A") %>
        <%= f.input :repeat_day, :as => :wday, label: "(weekday):" %>
      </div>
    </div>
    <!--
    Repeat
    <br>
    <div class="form-inputs">
      <%= f.input :repeat, collection: ["Daily","Weekly","Monthly"], prompt: "Select one" %>
    </div>
    <br>
    <div class="form-inputs">
      <%= f.input :time_limit, collection: [["None", nil], ["15 min", 15], ["30 min", 30], ["45 min", 45], ["1 hr", 60], ["2 hr", 120]], prompt: "Select one" %>
    </div>
    -->
  <% end %>
  <br>
  <div class="form-actions">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>
<% end %>