<ol class="breadcrumb">
	<li><%= link_to 'All Projects', projects_path %></li>
	<li><%= link_to Project.find(@task.project_id).title, Project.find(@task.project_id) %></li>
	<li class="active"><u>Editing Task</u></li>
</ol>

<div class="well">
	<%= render 'form' %>
	<br>
	<%= link_to @task, method: :delete, data: { confirm: 'Delete task? This action cannot be undone' }, class: "btn btn-danger" do %>
	  <i class="fa fa-trash-o fa-lg"></i>
	  Delete Task
	<% end %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', Project.find(@task.project_id) %></li>
</ul>