<%# @tasks_sorted = nil %>
<% @tasks_sorted = 
  @tasks.where(done: false).where.not(started: nil).where(started: true).sort_by{|e| e[:updated_at]} +
  @tasks.where(done: false).where(started: nil).where(importance: 'priority').where(priority: 'high').sort_by{|e| e[:updated_at]}.reverse +
  @tasks.where(done: false).where(started: nil).where(importance: 'priority').where(priority: 'low').sort_by{|e| e[:updated_at]}.reverse + 
  @tasks.where(done: false).where(started: nil).where(importance:'due').where.not(duedate: nil).sort_by{|e| e[:duedate]} + 
  @tasks.where(done: false).where(started: nil).where(importance: 'due').where(duedate: nil).sort_by{|e| e[:updated_at]} + 
  @tasks.where(done: false).where(started: nil).where(importance: "").sort_by{|e| e[:updated_at]} +
  @tasks.where(done: false).where(started: nil).where(importance: nil).sort_by{|e| e[:updated_at]} +
  @tasks.where(done: true).sort_by{|e| e[:updated_at]}.reverse 
%>

<nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        -->
        <ul class="nav navbar-nav subnav">
          <% @awaiting_count = 0 %>
          <% @projects.each do |project| %>
            <% @awaiting_count = @awaiting_count + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', nil).count %>
          <% end %>
          <% if @awaiting_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "awaiting") do %>
                Approval Required
                <span class="badge badge-dark">
                  <%= @awaiting_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @myassigned_count = 0 %>
          <% @projects.each do |project| %>
            <% @myassigned_count = @myassigned_count + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', true).count %>
          <% end %>
          <% if @myassigned_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "myassigned") do %>
                My Assigned
                <span class="badge badge-dark">
                  <%= @myassigned_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @myopen_count = 0 %>
          <% @projects.each do |project| %>
            <% @myopen_count = @myopen_count + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").count %>
          <% end %>
          <% if @myopen_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "myopen") do %>
              
                My Open
                <span class="badge badge-dark">
                  <%= @myopen_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @mydelegated_count = 0 %>
          <% @projects.each do |project| %>
            <% @mydelegated_count = @mydelegated_count + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee != ?', "").count %>
          <% end %>
          <% if @mydelegated_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "mydelegated") do %>
                
                My Delegated
                <span class="badge badge-dark">
                  <%= @mydelegated_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @allopen_count = 0 %>
          <% @projects.each do |project| %>
            <% @allopen_count = @allopen_count + project.tasks.where('done = ?', false).count %>
          <% end %>
          <% if @allopen_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "allopen") do %>
              
                All Open
                <span class="badge badge-dark">
                  <%= @allopen_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @alltasks_count = 0 %>
          <% @projects.each do |project| %>
            <% @alltasks_count = @alltasks_count + project.tasks.count %>
          <% end %>
          <% if @alltasks_count > 0 %>
            <li>
              <%= link_to tasks_path(anchor: "alltasks") do %>
              
                All Tasks
                <span class="badge badge-dark">
                  <%= @alltasks_count %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <!--</div>-->
    </div>
  </div>
</nav>

<% if @awaiting_count > 0 %>
  <a name="awaiting">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-bullhorn"></span>
        Approval Required
        <span class="badge badge-light">
          <%= @awaiting_count %>
        </span>
        <!--<i>(tasks not done that are assigned to you but require your acceptance/rejection)</i>-->
      </div>
      <table class="table table-striped">
        <tr class="table-header">
          <th>Status</th>
          <th>Importance</th>
          <th>Task</th>
          <th>Project</th>
          <th>Action Required</th>
        </tr>
        <tbody>
          <% @tasks_sorted.each do |task| %>
            <% if @projects.where('id=?',task.project_id).take %>
              <% if task.done == false && (task.assignee != nil && task.assignee != "") %>
                <% if (task.assignee == current_user.email) && (task.accepted == nil) %>
                  <tr>
                    <td>
                      <% if task.started %>
                        <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                      <% else %>
                        <i class="fa fa-circle fa-warning"></i>
                      <% end %>
                    </td>
                    <td>
                      <% if task.importance != nil %>  
                        <% if task.importance == "priority" %>
                          <% if task.priority == "high" %>
                              <span class="label label-danger">
                                <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                              </span>
                          <% elsif task.priority == "low" %>
                            <span class="label label-danger">
                                <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                              </span>
                          <% end %>
                        <% elsif task.importance == "due" %>
                          <span class="label label-danger">
                            <% if task.duedate != nil %>
                              <%=task.duedate.strftime("%b %e '%y")%>
                            <% else %>
                              Date not specified
                            <% end %>
                          </span>    
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to task.description, edit_task_path(task) %>
                    </td>
                    <td>
                      <span class="label label-project">
                        <% if @projects.where('id=?',task.project_id).take %>
                          <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                        <% end %>
                      </span>
                    </td>
                    <td>
                      <% if task.creator != nil && task.creator != "" %>
                        <span class="label label-success">
                          via 
                          <% if @users.where('email = ?',task.creator).take %>
                            <%= @users.where('email = ?',task.creator).take.name %>
                          <% end %>
                        </span>
                      <% end %>
                      <span>
                        <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"></i> Accept"), task_path(task, "task[accepted]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
                        <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-down\"></i> Reject"), task_path(task, "task[accepted]" => false), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </a>
<% end %>  

<% if @myassigned_count > 0 %>
  <a name="myassigned">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Assigned
        <span class="badge badge-light">
          <%= @myassigned_count %>
        </span>
        <!--<i>(tasks not done that were assigned to you and accepted)</i>-->
      </div>
      <table class="table table-striped">
        <tr class="table-header">
          <th>Status</th>
          <th>Importance</th>
          <th>Task</th>
          <th>Project</th>
          <th>Assignor</th>
        </tr>
        <tbody>
          <% @tasks_sorted.each do |task| %>
            <% if @projects.where('id=?',task.project_id).take %>
              <% if task.done == false && (task.assignee != nil && task.assignee != "") %>
                <% if (task.assignee == current_user.email) && (task.accepted == true) %>
                  <tr>
                    <td>
                      <% if task.started %>
                        <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                      <% else %>
                        <i class="fa fa-circle fa-warning"></i>
                      <% end %>
                      <%= link_to task.description, edit_task_path(task) %>
                    </td>
                    <td>
                      <% if task.importance != nil %>  
                        <% if task.importance == "priority" %>
                          <% if task.priority == "high" %>
                              <span class="label label-danger">
                                <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                              </span>
                          <% elsif task.priority == "low" %>
                            <span class="label label-danger">
                                <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                              </span>
                          <% end %>
                        <% elsif task.importance == "due" %>
                          <span class="label label-danger">
                            <% if task.duedate != nil %>
                              <%= task.duedate.strftime("%b %e '%y") %>
                            <% else %>
                              Date not specified
                            <% end %>
                          </span>    
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <span class="label label-project">
                        <% if @projects.where('id=?',task.project_id).take %>
                          <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                        <% end %>
                      </span>
                    </td>
                    <td>
                      <% if task.creator != nil && task.creator != "" %>
                        <span class="label label-success">
                          via 
                          <% if @users.where('email = ?',task.creator).take %>
                            <%= @users.where('email = ?',task.creator).take.name %>
                          <% end %>
                        </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </a>
<% end %>

<% if @myopen_count > 0 %>
  <a name="myopen">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Open
        <span class="badge badge-light">
          <%= @myopen_count %>
        </span>
        <!--<i>(tasks not done that you have created and not delegated)</i>-->
      </div>
      
      <table class="table table-striped">
        <tr class="table-header">
          <th>Status</th>
          <th>Importance</th>
          <th>Task</th>
          <th>Project</th>
        </tr>
        <tbody>
          <% @tasks_sorted.each do |task| %>
            <% if @projects.where('id=?',task.project_id).take %>
              <% if task.done == false && (task.creator != nil && task.creator != "") %>
                <% if task.creator == current_user.email && (task.assignee == nil || task.assignee == "") %>
                  <tr>
                    <td>
                      <% if task.started %>
                        <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                      <% else %>
                        <i class="fa fa-circle-o fa-warning"></i>
                      <% end %>
                    </td>
                    <td>
                      <% if task.importance != nil %>  
                        <% if task.importance == "priority" %>
                          <% if task.priority == "high" %>
                             <span class="label label-danger"> 
                                <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                              </span>
                          <% elsif task.priority == "low" %>
                            <span class="label label-danger">
                                <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                            </span>
                          <% end %>
                        <% elsif task.importance == "due" %>
                          <span class="label label-danger">
                            <% if task.duedate != nil %>
                              <%= task.duedate.strftime("%b %e '%y") %>
                            <% else %>
                              Date not specified
                            <% end %>
                          </span>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to task.description, edit_task_path(task) %>
                    </td>
                    <td>
                      <span class="label label-project">
                        <% if @projects.where('id=?',task.project_id).take %>
                          <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                        <% end %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </a>
<% end %>

<% if @mydelegated_count > 0 %>
  <a name="mydelegated">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Delegated
        <span class="badge badge-light">
          <%= @mydelegated_count %>
        </span>
        <!--<i>(tasks not done that you created and assigned)</i>-->
      </div>
      <table class="table table-striped">
        <tr class="table-header">
          <th>Status</th>
          <th>Importance</th>
          <th>Task</th>
          <th>Project</th>
          <th>Assigned</th>
        </tr>
        <tbody>
          <% @tasks_sorted.each do |task| %>
            <% if @projects.where('id=?',task.project_id).take %>
              <% if task.done == false && (task.assignee != nil && task.assignee != "") && (task.creator != nil && task.creator != "") %>
                <% if (task.assignee != current_user.email) && (task.creator == current_user.email) %>
                  <tr>
                    <td>
                      <% if task.started %>
                        <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                      <% else %>
                        <i class="fa fa-circle-o fa-warning"></i>
                      <% end %>
                    </td>
                    <td>
                      <% if task.importance != nil %>  
                        <% if task.importance == "priority" %>
                          <% if task.priority == "high" %>
                              <span class="label label-danger">
                                <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                              </span>
                          <% elsif task.priority == "low" %>
                            <span class="label label-danger">
                                <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                              </span>
                          <% end %>
                        <% elsif task.importance == "due" %>
                          <span class="label label-danger">
                            <% if task.duedate != nil %>
                              <%= task.duedate.strftime("%b %e '%y") %>
                            <% else %>
                              Date not specified
                            <% end %>
                          </span>    
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to task.description, edit_task_path(task) %>
                    </td>
                    <td>
                      <span class="label label-project">
                        <% if @projects.where('id=?',task.project_id).take %>
                          <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                        <% end %>
                      </span>
                    </td>
                    <td>
                      <span class="label label-warning">
                        to
                        <% if @users.where('email = ?',task.assignee).take %>
                          <%= @users.where('email = ?',task.assignee).take.name %>
                        <% end %>
                      </span>
                      <% if task.accepted == true %>
                        <span class="label label-success">
                          Accepted
                        </span>
                      <% elsif task.accepted == false %>
                        <span class="label label-danger">
                          Rejected
                        </span>
                      <% else %>
                        <span class="label label-default">
                          Waiting
                        </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </a>
<% end %>

<% if @allopen_count > 0 %>
  <a name="allopen">
    <div class="panel panel-info">
      <div class="panel-heading">
        All Open
        <span class="badge badge-light">
          <%= @allopen_count %>
        </span>
        <!--<i>(all tasks not done)</i>-->
      </div>
      <table class="table table-striped">
        <tr class="table-header">
          <th>Status</th>
          <th>Importance</th>
          <th>Task</th>
          <th>Project</th>
          <th>Assigned</th>
        </tr>
        <tbody>
          <% @tasks_sorted.each do |task| %>
            <% if @projects.where('id=?',task.project_id).take %>
              <% if task.done == false %>
                <tr>
                  <td>
                    <% if task.started %>
                        <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                    <% else %>
                      <i class="fa fa-circle-o fa-warning"></i>
                    <% end %>
                  </td>
                  <td>
                    <% if task.importance != nil %>  
                      <% if task.importance == "priority" %>
                        <% if task.priority == "high" %>
                            <span class="label label-danger">
                              <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                            </span>
                        <% elsif task.priority == "low" %>
                          <span class="label label-danger">
                              <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                            </span>
                        <% end %>
                      <% elsif task.importance == "due" %>
                        <span class="label label-danger">
                          <% if task.duedate != nil %>
                              <%= task.duedate.strftime("%b %e '%y") %>
                            <% else %>
                              Date not specified
                            <% end %>
                        </span>    
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to task.description, edit_task_path(task) %>  
                  </td>
                  <td>
                    <span class="label label-project">
                      <% if @projects.where('id=?',task.project_id).take %>
                        <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                      <% end %>
                    </span>
                  </td>
                  <td>
                    <% if task.assignee != nil && task.assignee != ""%>
                      <span class="label label-warning">
                        to 
                        <% if @users.where('email = ?',task.assignee).take %>
                          <%= @users.where('email = ?',task.assignee).take.name %>
                        <% end %>
                      </span>
                      <% if task.creator != nil %>
                        <span class="label label-info">
                          from
                          <% if @users.where('email = ?',task.creator).take %> 
                            <%= @users.where('email = ?',task.creator).take.name %>
                          <% end %>
                        </span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </a>
<% end %>

<% if @alltasks_count > 0 %>
  <a name="alltasks">
    <div class="panel panel-info">
      <div class="panel-heading">
        All Tasks
        <span class="badge badge-light">
          <%= @alltasks_count %>
        </span>
      </div>
      <%= render 'allopentasks' %>
    </div>
  </a>
<% end %>