<ol class="breadcrumb">
	<li><%= link_to 'All Projects', projects_path %></li>
	<li><%= link_to Project.find(@task.project_id).title, Project.find(@task.project_id) %></li>
	<li class="active"><u>New Task</u></li>
</ol>

<div class="well">
	<%= render 'form' %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', Project.find(@task.project_id) %></li>
</ul>
