<%= simple_form_for([@project, @entity]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true %>
  </div>
  <br>

  <div class="form-inputs">
    <%= f.input :notes %>
  </div>
  <br>

  <div class="form-inputs">
    <%= f.input :contact %>
  </div>
  <br>

  <div class="form-inputs">
    <%= f.input :step_id %>
  </div>
  <br>
  

  <div class="form-actions">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>
<% end %>
