<div class="panel panel-info">
  <div class="panel-heading">
    All Users
    <span class="badge badge-light">
      <%= @users.count(:email) %>
    </span>
  </div>

  <table class="table table-striped">
    <tr class="table-header">
      <th>Name</th>
      <th>Email</th>
      <% if current_user.supervisor %>
        <th>Last Sign In</th>
        <th>Sign In Count</th>
        <th>Project Count</th>
        <th>Asc. Project Count</th>
        <th>Task Count</th>
        <th>Asc. Task Count</th>
        <th>Asc. Step Count</th>
        <th>Asc. Entity Count</th>
      <% end %>
    </tr>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <%= user.email %>
            <% if user.email == current_user.email %>
              <span class="label label-info">You</span>
            <% end %>
          </td>
          <% if current_user.supervisor %>
            <td>
              <% if user.last_sign_in_at %>
                <%= user.last_sign_in_at.strftime("%b %e '%y at %I:%M%p") %>
              <% end %>
            </td>
            <td><%= user.sign_in_count %></td>
            <td>
              <%= @projects.where('creator = ?', user.email).count %>
            </td>
            <td>
              <% @account_users = User.where('account_num = ?',user.account_num) %>
              <%= @projects.where("creator IN (?)", @account_users.pluck(:email)).count %>
            </td>
            <td>
              <%= @tasks.where('creator = ?', user.email).count %>
            </td>
            <td>
              <%= @tasks.where("creator IN (?)", @account_users.pluck(:email)).count %>
            </td>
            <td>
              <% @account_projects = Project.where('creator IN (?)', @account_users.pluck(:email)) %>
              <%= @steps.where('project_id IN (?)', @account_projects.pluck(:id)).count %>
            </td>
            <td>
              <%= @entities.where('project_id IN (?)', @account_projects.pluck(:id)).count %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>