<div class="text-center">
	<%= image_tag(image_path("catalist-white-new-large.png")) %>
</div>
<br><br>
<div class="jumbotron">
	<h2>Catalist is the simple solution to your complex workplace</h2>
</div>

<div class="well">
	<h2>Beta Test</h2>
	<p>
		You and your company are using Catalist as part of a beta test. Although the product is completely free during this period, bugs, crashes, and occassional downtime may occur. However, the product will continue to get better everyday as we add new features, improve usability, and make it look better. We hope Catalist is useful and becomes an indispensible part of your workplace. Please communicate any issues you are experiencing or any other requests you may have via the Contact button above. Your data is secure and will be held confidentially. We hope you enjoy this beta test and would like to join us as regular customers when the time comes!
</div>
<div class="well">
	<h2>The Problem & Solution</h2>
	<p>	
		Let's see if the following sounds familiar: 
		<ul>
			<li>You are surrounded by computers but still have sheets of paper laying around</li>
			<li>You have something to ask your coworker but they happen to be busy</li>
			<li>You are constantly reminding others, and sometimes yourself, of important details</li>
		</ul>
	</p>

	<p>
		Enter Catalist. Catalist lets you create tasks, organize them, and assign them to your employees. Whether it's a basic to do list or a complex process with multiple steps, Catalist scales with you ensuring ease of use and powerful functionality. Catalist even has convenient features like a place for quick notes, due dates, priorities, and a simple workflow for accepting/rejecting assigned tasks.
	</p>
</div>

<div class="well">
	<h2>Catalist Basics</h2>
	<p>
		Here's the basic concepts on which Catalist is built. If you know these, you'll know Catalist.
		<ul>
			<li>Notes: Your bulletin board, post-its, and general announcements</li>
			<li>Checklist: To do lists for all those tasks that are either done or not done</li>
			<li>Process: Capture any and all your <i>pipelines</i></li>
			<ul>
				<li>Steps: The multiple parts that need to be finished in a specific order</li>
				<li>Entities: The items (e.g. candidates/clients/etc.) that go through all the steps</li>
			</ul>
		</ul>
	</p>
</div>

<div class="well">
	<h2>How To Use Catalist</h2>
	<p>
		First off, there's no wrong way to use Catalist. If it works for you and your team, then that's what Catalist is for. Try it out and see what happens.
	</p>
	<p>
		Here's a quick way to get started.
		<ul>
			<li>Assess your current workflow, processes, and software</li>
			<li>Identify things still being done on paper or just in conversations</li>
			<li>Consolidate things you need to do from other tools into Catalist (e.g. email, shared docs, shared drives, post-its, etc.)</li>
		</ul>
	</p>
	<p>
		Whether it's immediately obvious or not, Catalist provides solutions to all of the above. Feel free to reach out over email or phone so we can assess what works best for you and your business.
	</p>


