<div class="jumbotron">
	<h2>Dashboard</h2>
</div>
<% Groupdate.time_zone = "Pacific Time (US & Canada)" %>

<!--<div id="myfirstchart" style="width: 200px; height: 200px;"></div>-->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Total Projects
		    <span class="badge badge-dark">
		    	<%= @projects.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="col-md-6">
        	<%#= pie_chart @projects.group(:category).count, library: {title: 'Project Breakdown by Category', pieHole: 0.4} %>
        </div>
        <div class="col-md-6">
        	<%#= pie_chart @projects.group(:creator).count, library: {title: 'Project Breakdown by Creator', pieHole: 0.4} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Total Tasks
		    <span class="badge badge-dark">
		    	<%= @tasks.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="col-md-3">
        	<%#= pie_chart @tasks.group(:done).count, library: {title: 'Task Breakdown by Not Done/Done', pieHole: 0.4} %>
        </div>
      	<div class="col-md-3">
        	<%#= pie_chart @tasks.group(:project_id).count, library: {title: 'Task Breakdown by Project', pieHole: 0.4} %>
        </div>
        <div class="col-md-3">
        	<%#= pie_chart @tasks.group(:creator).count, library: {title: 'Task Breakdown by Creator', pieHole: 0.4} %>
    	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Total Steps
		    <span class="badge badge-dark">
		    	<%= @steps.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-md-3">
        	<%#= pie_chart @steps.group(:project_id).count, library: {title: 'Step Breakdown by Project', pieHole: 0.4} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Total Entities
		    <span class="badge badge-dark">
		    	<%= @entities.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <%#= pie_chart @entities.group(:project_id).count, library: {title: 'Entity Breakdown by Project', pieHole: 0.4} %>
      </div>
    </div>
  </div>
</div>

<!--
<script>
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'myfirstchart',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: [
      { year: '2008', value: 20 },
      { year: '2009', value: 10 },
      { year: '2010', value: 5 },
      { year: '2011', value: 5 },
      { year: '2012', value: 20 }
    ],
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value'],
    resize: true,
    redraw: true
  });
</script>
-->