<div class="jumbotron">
	<h2>Frequently Asked Questions</h2>
</div>

<div class="well">
	<%= link_to faq_path(anchor: "1") do %>
		1. My task has a label of "Date Not Specified"
	<% end %>
	<%= link_to faq_path(anchor: "2") do %>
	<% end %>
</div>

<div class="well">
	<a name="1">
		<b>
			1. My task has a label of "Date Not Specified"
		</b>
		<i>
			You have selected "Due" but have not specified a date yet. Click on the task, select a date, and save.
		</i>
	</a>
	<a name="2">
		<b>
			1. My task has a label of "Date Not Specified"
		</b>
		<i>
			You have selected "Due" but have not specified a date yet. Click on the task, select a date, and save.
		</i>
	</a>
</div>