<p>
	<% if user_signed_in? %>
		<div class="container">
			<!--<div class="alert alert-success" role="alert">
			  <strong>Hooray!</strong> Things should be working as normal. Perhaps even better. (Updated: 07-15-14 12:01pm)
			</div>
		-->
			<div class="jumbotron">
				<h2>
					Welcome,
					<% if current_user.name == nil || current_user.name == "" %>
						<%= current_user.email %>!
					<% else %>
						<%= current_user.name %>!
					<% end %>
				</h2>
			</div>
			<div class="well">
				<h4>
					Not sure what Catalist is all about? Learn more about the beta test, features, and functionality.
					<i><%= link_to "View About Page", about_path %></i>

				</h4>
			</div>
			<div class="well">
				<h2>Catalist Basics</h2>
				<p>
					Here's the basic concepts on which Catalist is built. If you know these, you'll know Catalist.
					<ul>
						<li>Notes: Your bulletin board, post-its, and general announcements</li>
						<li>Checklist Project: To do lists for all those tasks that are either done or not done</li>
						<li>Process Project: Capture any and all your <i>pipelines</i></li>
						<ul>
							<li>Steps: The multiple parts that need to be finished in a specific order</li>
							<li>Entities: The items (e.g. candidates/clients/etc.) that go through all the steps</li>
						</ul>
					</ul>
				</p>
			</div>
		</div>
	<% elsif account_signed_in? %>
		<div class="jumbotron">
			Welcome <strong><%= current_account.email %></strong>
		</div>
	<% else %>
		<div class="home-1 container-fluid">
			<div class="col-md-6">
				<%#= image_tag(image_path("catalist-white-new-large.png"), size: "180x40",) %>
				<%#= image_tag(image_path("catalist-icon-square-white.png"), size: "100x100", class: "logo") %>
				<br>
				<h1>Spike Your Productivity</h1>
				<h4>
					Powerful task & project management for your organization
					<!--Empower your team with a simple solution for their entire workload-->
				</h4>
				<br>
				<br>
				<!-- Text ideas
				Manage everything you need to do, simply & securely.

				Your company's task list simplified and consolidated.
				Know what you need to do, now.

				Get your company into the Productive Age
				<div class="opacity-box">

					<!-- Begin MailChimp Signup Form -->
					<!--
					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				-->

				<style type="text/css">
					#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
					
						
						
				<div class="mc_embed_signup">

					<form action="//sugam.us8.list-manage.com/subscribe/post?u=166a17340815f01e4ce780c4b&amp;id=93fcb9619c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<span style="position: absolute; left: -5000px;"><input type="text" name="b_166a17340815f01e4ce780c4b_93fcb9619c" tabindex="-1" value=""></span>
						<span class="mailchimp-form">
							<input type="email" value="" name="EMAIL" class="email textbox-email" id="mce-EMAIL" placeholder="Enter your email address" required autofocus="on">
					    	<input type="submit" value="Invite me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-email animated bounce">
					    </span>
					</form>

					<!--End mc_embed_signup-->
					<br>
					<br>
					<br>
					<i>Get your company early access to the beta</i>    
				</div>

			</div>
			<div class="col-md-6 vert-align">
				<%= image_tag(image_path("macbook-screenshot.png"), style: "width: 85%", class: "") %>
			</div>

			<!--
			<div class="home-2">
				<span>Has your company already signed up & you have a username?</span>
				<span><%#= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %></span>
			</div>
			-->
			<!--
			<div class="container-fluid home-1">
				Get productive <i>now</i>:
				<%#= form_for :beta, :url => {:action => :create} do |f| %>
	  				
	  				<div class="field">
	      				<%#= f.label :email %>
	      				<%#= f.text_field :email, :autofocus => true %>
	    			</div>
	    			
				    <button type="submit" class="btn btn-success">
				        <i class="fa fa-floppy-o fa-lg"></i> Submit
				    </button>
				  	
			  	<%# end %>
			</div>
		-->
	</div>
		<div class="home-2 container-fluid">
			<div class="col-md-4 box">
				<h2 class="center-align green">
					Lean Mean, Task Machine
				</h2>
				<div class="home-2-numbered">
					Catalist is ready for anything you got. It handles checklists, pipelines, & even basic notes. However you track it, rest easy knowing Catalist can do it simply & all in one place.
				</div>
				<h1 class="center-align">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x green"></i>
					  <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
					  <i class="fa fa-adjust fa-stack-2x shade"></i>
					</span>
				</h1>
			</div>
			<div class="col-md-4 box">
				<h2 class="center-align orange">
					For the Whole Team
				</h2>
				Control access to content and quickly delegate work to anyone on your team. Transparency & accountability creates empowered employees.
				<h1 class="center-align">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x orange"></i>
					  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
					  <i class="fa fa-adjust fa-stack-2x shade"></i>
					</span>
				</h1>
			</div>
			<div class="col-md-4 box">
				<h2 class="center-align blue">
					Wherever Work Takes You
				</h2>
				Catalist works on every Internet-connected device. Your laptop, smartphone, & tablet are all ready to use Catalist. Every feature on every device in every location.
				<h1 class="center-align">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x blue"></i>
					  <i class="fa fa-road fa-stack-1x fa-inverse"></i>
					  <i class="fa fa-adjust fa-stack-2x shade"></i>
					</span>
				</h1>
			</div>
		</div>
	
		<div class="home-3 container-fluid">
			<!--
			<div class="header">Product Features</div>
			-->
			<div class="col-md-2">
			</div>
			<div class="col-md-4 container-fluid">
				<!-- Feature 1 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x blue"></i>
							  <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Checklists
						</span>
						<span class="content">
							Capture everything you need done. Write it, do it, and check it off.
						</span>
					</span>
				</div>
				<!-- Feature 3 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x orange"></i>
							  <i class="fa fa-file fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Notes
						</span>
						<span class="content">
							Replace your bulletin board, whiteboard, and post-its right away.
						</span>
					</span>
				</div>
				<!-- Feature 5 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x grey"></i>
							  <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Analytics
						</span>
						<span class="content">
							Get the big data you need to strategically tackle your day.
						</span>
					</span>
				</div>
			</div>
			<div class="col-md-4 container-fluid">
				<!-- Feature 2 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x green"></i>
							  <i class="fa fa-list-ol fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Pipelines
						</span>
						<span class="content">
							For processes with multiple steps that track customers/accounts/candidates.
						</span>
					</span>
				</div>
				<!-- Feature 4 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x purple"></i>
							  <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Delegate
						</span>
						<span class="content">
							Quickly assign tasks to other team members & monitor progress.
						</span>
					</span>
				</div>
				<!-- Feature 6 -->
				<div class="feature">
					<span class="feature-icon">
							<span class="fa-stack fa-4x">
							  <i class="fa fa-circle fa-stack-2x red"></i>
							  <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
							</span>
					</span>
					<span class="feature-text">
						<span class="numbers">
							Track Time
						</span>
						<span class="content">
							Track how much time you are spending productively and/or wasting.<br>
							<i>(Coming soon)</i>
						</span>
					</span>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<div class="home-2 container-fluid">
			<div class="col-md-6 center-align">
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x purple"></i>
				  <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
				</span>
				<br>
				<h1>For Managers</h1>
				<h4>
					Manage team resources, product development, and clients & candidates
				</h4>
				<br>
			<br>
			<br>
			</div>
			
			<div class="col-md-6">
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x green"></i>
				  <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
				</span>
				<h1 class="center-align">For Professionals</h1>
				<h4>
					Track billable hours & manage your multiple client projects
				</h4>
				<br>
			<br>
			<br>
			</div>

		</div>
		<div class="home-5 container-fluid">
			<%#= image_tag(image_path("catalist-white-new-large.png"), size: "180x40",) %>
			<%#= image_tag(image_path("catalist-icon-square-white.png"), size: "100x100", class: "logo") %>
			<br>
			<h1>Ready to get productive?</h1>
			<br>
			<br>
			<!-- Text ideas
			Manage everything you need to do, simply & securely.

			Your company's task list simplified and consolidated.
			Know what you need to do, now.

			Get your company into the Productive Age
			<div class="opacity-box">

				<!-- Begin MailChimp Signup Form -->
				<!--
				<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
			-->

			<style type="text/css">
				#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
				
					
					
			<div class="mc_embed_signup">

				<form action="//sugam.us8.list-manage.com/subscribe/post?u=166a17340815f01e4ce780c4b&amp;id=93fcb9619c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<span style="position: absolute; left: -5000px;"><input type="text" name="b_166a17340815f01e4ce780c4b_93fcb9619c" tabindex="-1" value=""></span>
					<span class="mailchimp-form">
						<input type="email" value="" name="EMAIL" class="email textbox-email" id="mce-EMAIL" placeholder="Enter your email address" required>
				    	<input type="submit" value="Of course!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-email">
				    </span>
				</form>
				<!--End mc_embed_signup-->
				<br>
			</div>

		</div>

			<!-- Feature #1 -->
			<!--
			<div class="features container-fluid">
				<div>
					<span class="numbers center-align">1. Doing</span>
					<h2 class="center-align">More than just done & not done</h2>
				</div>
				
					<h4>
						Stay focused by specifying which task(s) you're currently working on. Forget being scatter-brained since you now know exactly what you are doing and where you left off. Best of all, you can let your supervisor and peers know what's the current task.
					</h4>
				<div class="outlined center-align">
					<h3>
						<i class="fa fa-circle-o fa-warning"></i> Task To Do
					</h3>	
					<h2>
						<i class="fa fa-circle-o-notch fa-spin fa-info"></i> Task In Progress
					</h2>	
					<h3>
						<i class="fa fa-circle-o fa-success"></i> Task Complete
					</h3>
				</div>
			</div>
			<div class="divider"><br></div>
		-->
			<!-- Feature #2 -->
			<!--
			<div class="features container-fluid">
				<div class="center-align">
					<span class="numbers">2. Tracking</span>
					<h2>Know how long you've spent</h2>
				</div>
				<div class="col-md-6 center-align">
					<h4>
						When you have an expectation of how long a task may take, it quickly becomes clear if you've spent too long. Catalist elegantly integrates time tracking for every task that comes up. No more thinking "Where did all the time go?!?"
					</h4>
				</div>
				<div class="col-md-6 center-align outlined">
					<h3>
						<i class="fa fa-play"></i> Start Tracking |
						<i class="fa fa-pause"></i> Pause Tracking
						<br>
						<i class="fa fa-refresh"></i> Reset Start Time |
						<i class="fa fa-stop"></i> Stop Tracking
					</h3>
				</div>
			</div>
			<div class="divider"><br></div>
		-->
			<!-- Feature #3 -->
			<!--
			<div class="features container-fluid">
				<div class="center-align">
					<span class="numbers">3. Strategizing</span>
					<h2>Tackle the project that's most at risk</h2>
				</div>
				<div class="col-md-6 center-align">
					<h4>
						With more and more things to do, it's getting harder to know where to spend your time. By quickly seeing a project's status, you can rest easy knowing your time is well spent.
					</h4>
				</div>
				<div class="col-md-6 center-align outlined">
					<div class="panel panel-info">
				        <div class="panel-heading">
			          	  <i class="fa fa-check-circle-o fa-lg pull-right fa-panel" style="color:#fff"></i>
				          Top Secret Project  
				        </div>
				        <table class="table table-condensed">
				          <tr>
				            <td align="center">
								<input type="text" 
								value="3" data-max="10" 
                    			class="dial1" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">

			                  <script>
			                  $(function() {
			                      $(".dial1").knob({
			                      });
			                  });
			                  </script>
			              	</td>
			          	  </tr>
			      		</table>
			      	</div>
				</div>
			</div>
			<div class="divider"><br></div>
		</div>
	-->
	<% end %>
</p>
