<div class="jumbotron">
	<h2>Dashboard</h2>
</div>
<% Groupdate.time_zone = "Pacific Time (US & Canada)" %>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Total Projects
		    <span class="badge badge-dark">
		    	<%= @projects.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="col-md-6">
        	<%= pie_chart @projects.group(:category).count, library: {title: 'Project Breakdown by Category', pieHole: 0.4} %>
        </div>
        <div class="col-md-6">
        	<%= pie_chart @projects.group(:creator).count, library: {title: 'Project Breakdown by Creator', pieHole: 0.4} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Total Tasks
		    <span class="badge badge-dark">
		    	<%= @tasks.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="col-md-3">
        	<%= pie_chart @tasks.group(:done).count, library: {title: 'Task Breakdown by Not Done/Done', pieHole: 0.4} %>
        </div>
      	<div class="col-md-3">
        	<%= pie_chart @tasks.group(:project_id).count, library: {title: 'Task Breakdown by Project', pieHole: 0.4} %>
        </div>
        <div class="col-md-3">
        	<%= pie_chart @tasks.group(:creator).count, library: {title: 'Task Breakdown by Creator', pieHole: 0.4} %>
    	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Total Steps
		    <span class="badge badge-dark">
		    	<%= @steps.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-md-3">
        	<%= pie_chart @steps.group(:project_id).count, library: {title: 'Step Breakdown by Project', pieHole: 0.4} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Total Entities
		    <span class="badge badge-dark">
		    	<%= @entities.count %>
		    </span>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <%= pie_chart @entities.group(:project_id).count, library: {title: 'Entity Breakdown by Project', pieHole: 0.4} %>
      </div>
    </div>
  </div>
</div>