<p>
	<% if user_signed_in? %>
		<div class="container">
			<div class="jumbotron">
				<h2>
					Welcome,
					<% if current_user.name == nil || current_user.name == "" %>
						<%= current_user.email %>!
					<% else %>
						<%= current_user.name %>!
					<% end %>
				</h2>
			</div>
			<div class="well">
				<% @awaiting = [] %>
				<% @myassigned = [] %>
				<% @myopenhigh = [] %>
				<% @myopenpastdue = [] %>
				<% @myopentoday = [] %>
				<% @myopenweek = [] %>
				<% @projects.each do |project| %>
		        	<% @awaiting = @awaiting + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', nil) %>
		        	<% @myassigned = @myassigned + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', true) %>
		        	<% @myopenhigh = @myopenhigh + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").where('importance = ?','priority').where('priority = ?','high') %>
		        	<% @myopenpastdue = @myopenpastdue + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").where('importance = ?','due').where('duedate < ?',Date.today) %>
		        	<% @myopentoday = @myopentoday + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").where('importance = ?','due').where('duedate = ?',Date.today) %>
		        	<% @myopenweek = @myopenweek + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").where('importance = ?','due').where('duedate < ?',Date.today).where('duedate > ?', Date.today.end_of_week) %>
		      	<% end %>
		      	<% if @awaiting.count > 0 %>
		      		<%= link_to tasks_path(anchor: "awaiting") do %>
		      			You have <%= @awaiting.count %> items awaiting your approval.
	      			<% end %>
	      			<% @awaiting.each do |task| %>
	      				<%= task.description %><br>
	      			<% end %>
      			<% end %>
      			<% if @myassigned.count > 0 %>
      				<%= link_to tasks_path(anchor: "myassigned") do %>
      					You have <%= @myassigned.count %> items assigned to you.
      				<% end %>
      				<% @myassigned.each do |task| %>
	      				<%= task.description %><br>
	      			<% end %>
      			<% end %>
      			
  				
				<% if @myopenhigh.count > 0 %>
					You have <%= @myopenhigh.count %> high priority item(s).
					<br>
				<% end %>
				<% @myopenhigh.each do |task| %>
	  				<%= link_to task.description, edit_task_path(task) %><br>
	  			<% end %>
				<% if @myopenpastdue.count > 0 %>
					You have <%= @myopenpastdue.count %> item(s) past due.
					<br>
				<% end %>
				<% @myopenpastdue.each do |task| %>
	  				<%= link_to task.description, edit_task_path(task) %><br>
	  			<% end %>
				<% if @myopentoday.count > 0 %>
					You have <%= @myopentoday.count %> item(s) due today.
					<br>
				<% end %>
				<% @myopentoday.each do |task| %>
  					<%= link_to task.description, edit_task_path(task) %><br>
	  			<% end %>
				<% if @myopenweek.count > 0 %>
					You have <%= @myopenweek.count %> item(s) due this week.
				<% end %>
				<% @myopenweek.each do |task| %>
	  				<%= link_to task.description, edit_task_path(task) %><br>
	  			<% end %>
			</div>
		</div>
	<% elsif account_signed_in? %>
		<div class="jumbotron">
			Welcome <strong><%= current_account.email %></strong>
		</div>
	<% else %>
		<div class="home-1 container-fluid">
			
			<%#= image_tag(image_path("catalist-white-new-large.png"), size: "180x40",) %>
			<br>
			<h1>Get Focused & Stay Productive</h1>
			<h4>
				Empower your team with a simple solution for their entire workload
			</h4>
			<br>
			<br>
			<!-- Text ideas
			Manage everything you need to do, simply & securely.

			Your company's task list simplified and consolidated.
			Know what you need to do, now.

			Get your company into the Productive Age
			<div class="opacity-box">

				<!-- Begin MailChimp Signup Form -->
				<!--
				<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
			-->

			<style type="text/css">
				#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
				
					
					
			<div class="mc_embed_signup">

				<form action="//sugam.us8.list-manage.com/subscribe/post?u=166a17340815f01e4ce780c4b&amp;id=93fcb9619c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<span style="position: absolute; left: -5000px;"><input type="text" name="b_166a17340815f01e4ce780c4b_93fcb9619c" tabindex="-1" value=""></span>
					<span class="mailchimp-form">
						<input type="email" value="" name="EMAIL" class="email textbox-email" id="mce-EMAIL" placeholder="email address" required autofocus="on">
				    	<input type="submit" value="Invite me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-email">
				    </span>
				</form>
				<!--End mc_embed_signup-->
				<br>
				<br>
				<br>
				<i>Get your company early access to the beta</i>    
				<br>
			</div>
		</div>

		<!--
		<div class="home-2">
			<span>Has your company already signed up & you have a username?</span>
			<span><%#= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %></span>
		</div>
		-->
		<!--
		<div class="container-fluid home-1">
			Get productive <i>now</i>:
			<%#= form_for :beta, :url => {:action => :create} do |f| %>
  				
  				<div class="field">
      				<%#= f.label :email %>
      				<%#= f.text_field :email, :autofocus => true %>
    			</div>
    			
			    <button type="submit" class="btn btn-success">
			        <i class="fa fa-floppy-o fa-lg"></i> Submit
			    </button>
			  	
		  	<%# end %>
		</div>
	-->
		<div class="home-2 container-fluid">
			<div class="col-md-4 box">
				<h2 class="center-align">
					Lean Mean, Task Machine
				</h2>
				<div class="home-2-numbered">
					Catalist is ready for anything you got. It handles checklists, pipelines, and even basic notes. However you track it, rest easy knowing Catalist can do it more simply AND all in one place.
				</div>
				<h1 class="center-align">
					<i class="fa fa-cogs fa-lg"></i>
				</h1>
			</div>
			<div class="col-md-4 box">
				<h2 class="center-align">
					For the Whole Team
				</h2>
				Control access to content and quickly delegate work to anyone on your team. Transparency & accountability creates empowered employees.
				<h1 class="center-align">
					<i class="fa fa-users fa-lg"></i>
				</h1>
			</div>
			<div class="col-md-4 box">
				<h2 class="center-align">
					Wherever Work Takes You
				</h2>
				Catalist works on every Internet-connected device. Your laptop, smartphone, and tablet are all compatible so you can even Catalist at home. Every feature on every device in every location.
				<h1 class="center-align">
					<i class="fa fa-road fa-lg"></i>
				</h1>
			</div>
		</div>
	
		<div class="home-3">
			<!-- Feature #1 -->
			<div class="features container-fluid">
				<div class="center-align">
					<span class="numbers">1. Doing</span>
					<h2>More than just done & not done</h2>
				</div>
				<div class="col-md-6 center-align">
					<h4>Stay focused by specifying which task(s) you're currently working on. Forget being scatter-brained since you now know exactly what you are doing and where you left off. Best of all, you can let your supervisor and peers know what's the current task.
					</h4>
				</div>
				<div class="col-md-6 center-align outlined">
					<h3>
						<i class="fa fa-circle-o fa-warning"></i> Task To Do
					</h3>	
					<h2>
						<i class="fa fa-circle-o-notch fa-spin fa-info"></i> Task In Progress
					</h2>	
					<h3>
						<i class="fa fa-circle-o fa-success"></i> Task Complete
					</h3>
				</div>
			</div>
			<div class="divider"><br></div>
			<!-- Feature #2 -->
			<div class="features container-fluid">
				<div class="center-align">
					<span class="numbers">2. Tracking</span>
					<h2>Know how long you've spent</h2>
				</div>
				<div class="col-md-6 center-align">
					<h4>
						When you have an expectation of how long a task may take, it quickly becomes clear if you've spent too long. Catalist elegantly integrates time tracking for every task that comes up. No more thinking "Where did all the time go?!?"
					</h4>
				</div>
				<div class="col-md-6 center-align outlined">
					<h3>
						<i class="fa fa-play"></i> Start Tracking |
						<i class="fa fa-pause"></i> Pause Tracking
						<br>
						<i class="fa fa-refresh"></i> Reset Start Time |
						<i class="fa fa-stop"></i> Stop Tracking
					</h3>
				</div>
			</div>
			<div class="divider"><br></div>
			<!-- Feature #3 -->
			<div class="features container-fluid">
				<div class="center-align">
					<span class="numbers">3. Strategizing</span>
					<h2>Tackle the project that's most at risk</h2>
				</div>
				<div class="col-md-6 center-align">
					<h4>
						With more and more things to do, it's getting harder to know where to spend your time. By quickly seeing a project's status, you can rest easy knowing your time is well spent.
					</h4>
				</div>
				<div class="col-md-6 center-align outlined">
					<div class="panel panel-info">
				        <div class="panel-heading">
			          	  <i class="fa fa-check-circle-o fa-lg pull-right fa-panel" style="color:#fff"></i>
				          Top Secret Project  
				        </div>
				        <table class="table table-condensed">
				          <tr>
				            <td align="center">
								<input type="text" 
								value="3" data-max="10" 
                    			class="dial1" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">

			                  <script>
			                  $(function() {
			                      $(".dial1").knob({
			                      });
			                  });
			                  </script>
			              	</td>
			          	  </tr>
			      		</table>
			      	</div>
				</div>
			</div>
			<div class="divider"><br></div>
		</div>
	<% end %>
</p>
