<% @tasks_count=0 %>
<% @tasks_done=0 %>
<% @tasks_remain=0 %>
<% @tasks_complete=0 %>
<% @task_remain=0 %>
<% @task_remain_pc=0 %>
<% @task_complete=0 %>
<% @task_complete_pc=0 %>
<% @task_overby=0 %>

<% @project.tasks.each do |task| %>
  <% if task.importance == 'due' %>
    <% task.id %>
    <% if task.duetime !=nil && task.duedate !=nil %>
      <% t = task.duetime %>
      <% d = task.duedate %>
      <% task.due = DateTime.new(d.year, d.month, d.day, t.hour, t.min, t.sec, t.zone) %>
      <% task.save %>
    <% elsif task.duetime == nil && task.duedate != nil %>
      <% d = task.duedate %>
      <% task.due = DateTime.new(d.year, d.month, d.day).end_of_day %>
      <% task.save %>
  	<% elsif task.duetime != nil && task.duedate == nil %>
      <% d = Date.today %>
      <% t = task.duetime %>
      <% task.due = DateTime.new(d.year, d.month, d.day, t.hour, t.min, t.sec, t.zone) %>
      <% task.save %>
    <% end %>
  <% end %>
<% end %>

<% @tasks_sorted_project = nil %>
<% @tasks_sorted_project = 
				  @project.tasks.where('done = ?',false).where.not('started_at IS ?',nil).sort_by{|e| e[:updated_at]} +
				  @project.tasks.where('done = ?',false).where('started_at IS ?',nil).where('importance = ?','priority').where('priority = ?','high').sort_by{|e| e[:updated_at]}.reverse +
                  @project.tasks.where('done = ?',false).where('started_at IS ?',nil).where('importance = ?','priority').where('priority = ?','low').sort_by{|e| e[:updated_at]}.reverse + 
                  @project.tasks.where('done = ?',false).where('started_at IS ?',nil).where('importance = ?','due').sort_by{|e| e[:due]} + 
                  @project.tasks.where('done = ?',false).where('started_at IS ?',nil).where('importance = ?', "").sort_by{|e| e[:updated_at]} +
                  @project.tasks.where('done = ?',false).where('started_at IS ?',nil).where('importance IS ?', nil).sort_by{|e| e[:updated_at]} +
                  @project.tasks.where('done = ?',true).sort_by{|e| e[:updated_at]}.reverse %>
<tr class="table-header">
	<th>Status</th>
	<th>Name</th>
	<!--<th>Progress</th>-->
	<th>Actions</th>
<tr>

<% @tasks_sorted_project.each do |task| %>
	<% if task.done==false %>
		<tr class="warning">
			<% @tasks_count = @tasks_count + 1 %>
			<% if task.started_at == nil || task.started_at == "" %>
				<td>

					<span class="label label-warning">To Do</span>

					<% if task.importance != nil %>  
		              <% if task.importance == "priority" %>
		                <% if task.priority == "high" %>
		                    <span class="label label-danger">
		                    	<i class="fa fa-arrow-up fa-fw" style="color:white"></i>
		                    </span>
		                <% elsif task.priority == "low" %>
		                	<span class="label label-danger">
		                    	<i class="fa fa-arrow-down fa-fw" style="color:white"></i>
		                    </span>
		                <% end %>
		              <% elsif task.importance == "due" %>
		                <span class="label label-danger">
		                  <% if task.due != nil %>
		                  	<% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
		                  		<%=task.due.strftime("%b %e %y EOD")%>
	                  		<% else %>
	                        	<%=task.due.strftime("%b %e %y %l:%M %P")%>
                        	<% end %>
	                      <% else %>
	                        Date not specified
	                      <% end %>
		                </span>    
		              <% end %>
		            <% end %>

				</td>
				<td><%= link_to task.description, edit_task_path(task) %></td>
			<% else %>
				<td>
					<span class="label label-info">In Progress</span>

					Started 
					<% if task.started_at.to_date >= DateTime.now.to_date %>
						Today at 
			        <% else %>
			    	    <%= number_to_human(DateTime.now.to_date - task.started_at.to_date) %> days ago
			        <% end %>
			        <%#= task.started_at.to_formatted_s(:short) %>
					<%= task.started_at.strftime("%l:%M %p") %>
					<% if task.time_limit != nil %>
						<br>
						Time limit: <%= task.time_limit %> min
						<!--- Limit at
						<%#= (task.started_at + task.time_limit * 60).strftime("%l:%M %p") %>
						<!--You have
						<%#= (((task.started_at + task.time_limit * 60).to_time-DateTime.now.to_time)/60).round(0) %>
						min left!-->
					<% end %>
				</td>
				<td><%= link_to task.description, edit_task_path(task) %></td>
				
			<% end %>
					
			<span><%#= button_to "Project", :started_at => Time.now.to_datetime, remote: true %></span>
			<!--
			<span class="label label-default">
	    		<span class="glyphicon glyphicon-calendar"></span>
		        created 
		        <%# if task.created_at.to_date != nil %>
			        <%# if task.created_at.to_date >= DateTime.now.to_date %>
			          today
			        <%# else %>
			          <%#= number_to_human(DateTime.now.to_date - task.created_at.to_date) %> days ago
			        <%# end %>
		        <%# end %>
	      </span>
	  	  -->
			  
			<% if task.started_at != nil && task.started_at != "" %>
				<!--
				<td>
					<%# if task.time_limit != nil %>
						<%# if task.time_limit != 0 %>
							<%# @task_remain = (((task.started_at + task.time_limit * 60).to_time-DateTime.now.to_time)/60) %>
							<%# @task_remain_pc = @task_remain/task.time_limit*100 %>
							<%# @task_complete_pc = (1 - (@task_remain_pc/100))*100 %>
							<%# @task_remain_pc = @task_remain_pc.round(0) %>
							<%# @task_complete_pc = @task_complete_pc.round(0) %>
							<%# @task_remain = @task_remain.round(0) %>

							<%# if task.time_spent == nil %>
								<%# task.time_spent = 0 %>
							<%# end %>
							<%# if task.paused_at != nil %>
								<% if task.resumed_at == nil %>
									<%#task.paused_at %>
									<%# task.started_at %>
									<%# task.time_spent = (task.paused_at - task.started_at)/60 %> 
									<%# @task_complete = task.time_spent %>
								<%# else %>
									<%# if task.paused_at < task.resumed_at %>
										<%# @task_complete = (task.time_spent + (DateTime.now.to_time - task.resumed_at.to_time)/60) %>
										<%# @task_complete_pc = (@task_complete/task.time_limit)*100 %> 
									<%# else %>
										<%# @task_complete = task.time_spent + ((task.paused_at - task.resumed_at)/60)%>
										<%# @task_complete_pc = (@task_complete/task.time_limit)*100 %> 
									<%# end %>
								<%# end %>
							<%# end %>
						<%# end %>

						<%# if @task_complete_pc < 50 %>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@task_complete_pc" aria-valuemin="0" aria-valuemax="100" style="width: <%#= @task_complete_pc %>%;">
								</div>
							</div>
						<%# elsif @task_complete_pc >= 50 && @task_complete_pc < 80 %>
							<div class="progress">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@task_complete_pc" aria-valuemin="0" aria-valuemax="100" style="width: <%#= @task_complete_pc %>%;">
									<%#= @task_remain %>% left
								</div>
							</div>
						<%# elsif @task_complete_pc >= 80 && @task_complete_pc <= 100 %>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@task_complete_pc" aria-valuemin="0" aria-valuemax="100" style="width: <%#= @task_complete_pc %>%;">
									<%#= @task_remain %> min left
								</div>
							</div>
						<%# else %>
							<%# @task_overby = (((task.started_at + task.time_limit * 60).to_time-DateTime.now.to_time)/60).round(0)*(-1) %>
							<span class="label label-danger">
								Over by
								<%# if @task_overby < 60 %>
									<%#= @task_overby %> min!
								<%# else %>
									<%#= (@task_overby/60).round(0) %> hr!
								<%# end %>
							</span>
						<%# end %>
					<%# end %>
				</td>
				-->
				<td>
					<div class="btn-group gray">
						<% if task.paused_at == nil %>
							<%= link_to raw("<i class=\"fa fa-pause fa-fw\"></i>"),task_path(task, "task[paused_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% elsif (task.paused_at != nil) &&  (task.resumed_at == nil) %>
							<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[resumed_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% elsif task.paused_at > task.resumed_at %>
							<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[resumed_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% elsif task.paused_at < task.resumed_at %>
							<%= link_to raw("<i class=\"fa fa-pause fa-fw\"></i>"), task_path(task, "task[paused_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% end %>
						<%= link_to raw("<i class=\"fa fa-refresh fa-fw\"></i>"), task_path(task, "task[started_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<%= link_to raw("<i class=\"fa fa-stop fa-fw\"></i>"), task_path(task, "task[started_at]" => ""), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), task_path(task, "task[done]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
					</div>
				</td>

			<% end %>

			<% if task.started_at == nil || task.started_at == "" %>
				<td>
					<div class="btn-group gray">
						<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[started_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), task_path(task, "task[done]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
					</div>
				</td>
			<% end %>
		  </tr>
	<% end %>
<% end %>

<% @tasks_sorted_project.each do |task| %>
	<% if task.done==true %>
		<tr class="success" >
			<% @tasks_count = @tasks_count + 1 %>
			<td><span class="label label-success"><%= "Complete" %></span></td>
			<% @tasks_done = @tasks_done + 1 %>
			<td><%= link_to task.description, edit_task_path(task) %></td>
			<!--<td></td>-->
			<td>
				<div class="btn-group gray">
					<%= link_to raw("<i class=\"fa fa-bolt fa-fw\"></i>"), task_path(task, "task[done]" => false), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
					<% if current_user.email == task.creator %>
						<%= link_to raw("<i class=\"fa fa-trash-o fa-fw\"></i>"), task, method: :delete, data: { confirm: "Delete task? This action cannot be undone" }, class: "btn btn-project btn-sm" %>
					<% end %>
				</div>
			</td>
		</tr>
	<% end %>
<% end %>

<% if @tasks_done == 0 && @tasks_count == 0 %>
	<% @tasks_complete = 0 %>
<% else %>
	<% @tasks_complete = number_to_human(@tasks_done.to_f / @tasks_count * 100).to_i %>
	<tr><td colspan="4">
		<% @tasks_remain = @tasks_count - @tasks_done %>
		<div class="progress">
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100-@tasks_complete" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100-@tasks_complete %>%;">
			    	<%= @tasks_remain %> to go
			  	</div>

				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@tasks_complete" aria-valuemin="0" aria-valuemax="100" style="width:<%= @tasks_complete %>%;">
			    	<%= @tasks_done %> done
			  	</div>
			</div>
		</div>
	</td></tr>
	<% @project.progress = @tasks_complete %>
<% end %>
