= form_for @project do |f|
	- if @project.category == "checklist"
		#tasks
		.links
        .jumbotron
          = link_to_add_association 'add task', f, :tasks, :partial => 'projects/new_task_fields', :class => "btn btn-default btn-sm"
	= f.submit