<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <% if @project.category %>
    <b>Project Type: <%= @project.category.capitalize %></b>
  <% end %>
  <br>
  <br>
  <div class="form-inputs">
    <%= f.input :title, :autofocus => true %>
  </div>
  <br>

  <% if @project.creator == nil || @project.creator == "" %>
    <div class="form-inputs">
      <%= f.hidden_field :creator, :value => current_user.email %>
    </div>
  <% end %>
  <div class="form-inputs">
    <%#= f.collection_radio_buttons :category, [['process', 'Process'], ['checklist', ' Checklist']], :first, :last %>
  </div>
  <br>
    <div class="form-inputs">
    <%= f.input :description, as: :text  %>
  </div>
  <br>
  <div class="form-actions">
    <button type="submit" class="btn btn-success">
      <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>
<% end %>
