.nested-fields
	.field
		= f.label :description
		= f.text_field :description
	.field
		= f.label :done
		= f.check_box :done
	.field
		= f.label :priority
		- if :priority == nil
			= f.select :priority, options_for_select(["None","Low","High"],"None")
		- else
			= f.select :priority, options_for_select(["None","Low","High"],:priority)
	.field
		= f.label :assignee
		= f.select :assignee, User.pluck(:email), :prompt => "Select One"
	.field
		= f.label :creator
		= f.select :creator, options_for_select([current_user.email],current_user.email)
= link_to_remove_association "remove task", f