<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :autofocus => true %>
  </div>
  <br>

  <% if @project.creator == nil || @project.creator == "" %>
    <div class="form-inputs">
      <%= f.hidden_field :creator, :value => current_user.email %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.hidden_field :category, :value => 'process' %>
    <%#= f.collection_radio_buttons :category, [['process', 'Process'], ['checklist', ' Checklist']], :first, :last, disabled: true %>
  </div>
  <br>
    <div class="form-inputs">
    <%= f.input :description, as: :text  %>
  </div>
  <br>
  <div class="form-actions">
    <button type="submit" class="btn btn-success">
      <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>
<% end %>
