<% @step_list_order = 0 %>
<thead>
	<tr class="table-header">
		<th>#</th>
		<th>Step Name</th>
		<th>Entities</th>
	</tr>
</thead>
<tbody>
	<% @project.steps.each do |step| %>
		<% @entity_count = 0 %>
		<% @step_list_order = @step_list_order + 1 %>
		<% step.order = @step_list_order %>

		<% @project.entities.each do |entity| %>
			<% if entity.step_id != nil && entity.step_id == step.order %>
				<% @entity_count = @entity_count + 1 %>
			<% end %>
		<% end %>
		<tr>
			<%= content_tag :td, :rowspan => @entity_count do %>
				<%= step.order %>
			<% end %>

			<%= content_tag :td, :rowspan => @entity_count do %>
				<%= link_to step.description, edit_step_path(step) %>
				<!--<span class="glyphicon glyphicon-chevron-right"></span>-->
				<% if @entity_count > 0 %>
					<!--<span class="badge"><%= @entity_count %></span>-->
				<% end %>

				<% if step.assignee != nil && step.assignee != "" %>
					<br><span class="label label-info">
						To
						<%= @users.where('email = ?',step.assignee).take.name %>
						<%#= f.select :assignee, User.where('id <> ?', current_user.id).pluck(:email), :prompt => "Select one" %>
					</span>
				<% end %>
			<% end %>

			<% if @entity_count == 0 %>
				<td>-</td></tr>
			<% end %>
			<%#= link_to raw("<i class=\"glyphicon glyphicon-arrow-up\"></i> Up"), step_path(step, "step[order]" => @step_list_order - 1), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>		 
			<% @entity_count = 0 %>
			<% @project.entities.each do |entity| %>
				<% if @entity_count > 0 %>
					<tr>
				<% end %>

				<% if entity.step_id == step.order %>
					<% if entity.step_id == 1 %>
						<% @entity_count = @entity_count + 1 %>
							<td class="well well-sm">
								<span 
								<% if entity.notes != "" || entity.contact != "" %>
									rel="tooltip" data-toggle="tooltip" data-placement="top" title="Notes: 
									<% if entity.notes != "" %>
										<%= entity.notes %>
									<% else %>
										None
									<% end %>
									&#013; Contact: 
									<% if entity.contact != "" %>
										<%= entity.contact %>
									<% else %>
										None
									<% end %>
									"
								<% end %>
									>
									<%= link_to entity.name, edit_entity_path(entity) %>
								</span>
								<div class="btn-group gray">
									<%= link_to raw("<i class=\"fa fa-ban fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => 0), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
									<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => step.order + 1), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								</div>
							</td>
						</tr>
					<% else %>
						<% @entity_count = @entity_count + 1 %>
							<td class="well well-sm">
								<span 
								<% if entity.notes != "" || entity.contact != "" %>
									rel="tooltip" data-toggle="tooltip" data-placement="top" title="Notes: 
									<% if entity.notes != "" %>
										<%= entity.notes %>
									<% else %>
										None
									<% end %>
									&#013; Contact: 
									<% if entity.contact != "" %>
										<%= entity.contact %>
									<% else %>
										None
									<% end %>
									"
								<% end %>
									>
									<%= link_to entity.name, edit_entity_path(entity) %>
								</span>
								<div class="btn-group gray">
									<%= link_to raw("<i class=\"fa fa-chevron-left fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => step.order - 1), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
									<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => step.order + 1), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								</div>
							</td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
			<!--<% if @entity_count == 0 %>
				<td>None Assigned</td>
			<% elsif @entity_count > 0 %>
				<td><span class="badge"><%= @entity_count %></span></td>
			<% end %>-->
		<tr>
	<% end %>
</tbody>
<tr>
	<td colspan="3">
		<% @total_entity_count = Entity.where('project_id = ?', @project.id).count %>
		
		<% @active_entity_count = Entity.where('project_id = ?', @project.id).where('step_id <= ?', @project.steps.count).where('step_id > ?', 0).count %>

		<% @complete_entity_count = Entity.where('project_id = ?', @project.id).where('step_id = ?', @project.steps.count+1).count %>

		<% @inactive_entity_count = @total_entity_count - (@active_entity_count + @complete_entity_count) %>
		
		<% if @active_entity_count == 0 || @total_entity_count == 0 %>
			<% @active_entity_pc_number = 0 %>
			<% @active_entity_pc = 0 %>
		<% else %>
			<% @active_entity_pc_number = @active_entity_count.to_f / @total_entity_count * 100 %>
			<% @active_entity_pc = number_to_human(@active_entity_pc_number) %>
		<% end %>

		<% if @complete_entity_count == 0 || @total_entity_count == 0 %>
			<% @complete_entity_pc_number = 0 %>
			<% @complete_entity_pc = 0 %>
		<% else %>			
			<% @complete_entity_pc_number = @complete_entity_count.to_f / @total_entity_count * 100 %>
			<% @complete_entity_pc = number_to_human(@complete_entity_pc_number) %>
		<% end %>

		<% if @inactive_entity_count == 0 || @total_entity_count == 0 %>
			<% @inactive_entity_pc = 0 %>
		<% else %>			
			<% @inactive_entity_pc = 100 - (@active_entity_pc_number + @complete_entity_pc_number) %>
		<% end %>

		<div class="progress">		  
		  <div class="progress-bar progress-bar-danger" style="width: <%= @inactive_entity_pc %>%">
		    <%= @inactive_entity_count %> to open
		  </div>
		  <div class="progress-bar progress-bar-warning" style="width: <%= @active_entity_pc %>%">
		    <%= @active_entity_count %> to go
		  </div>
		  <div class="progress-bar progress-bar-success" style="width: <%= @complete_entity_pc %>%">
		    <%= @complete_entity_count %> done
		  </div>
		</div>

	</td>
	<!--
	-->
</tr>
<tr>
	<td>
		<span class="label label-danger">Closed</span>
		<span class="label label-warning">In Progress</span>
		<span class="label label-success">Complete</span>
	</td>
</tr>
<!--
<tr class="success">
	<td></td>
	<td>Completed</td>
	<% @project.entities.each do |entity| %>
		<% if entity.step_id != nil %>
			<% if entity.step_id > @project.steps.count %>
				<td class="well well-sm">
					<%= link_to entity.name, edit_entity_path(entity) %>
					<%= link_to raw("<i class=\"glyphicon glyphicon-pushpin\"></i> Reopen"), entity_path(entity, "entity[step_id]" => 1), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
					<%#= link_to raw("<i class=\"glyphicon glyphicon-ok\"></i> Done"), entity_path(entity, "entity[step_id]" => step.order + 1), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
				</td>
			<% end %>
		<% end %>
	<% end %>
</tr>
-->