<% @tasks_count=0 %>
<% @tasks_done=0 %>
<% @tasks_remain=0 %>
<% @tasks_complete=0 %>
<% @task_remain=0 %>
<% @task_remain_pc=0 %>
<% @task_complete=0 %>
<% @task_complete_pc=0 %>
<% @task_overby=0 %>

<% @tasks_sorted_project = 
  @project.tasks.where(done: false).where.not(started: nil).where(started: true).sort_by{|e| e[:updated_at]} +
  @project.tasks.where(done: false).where.not(started: nil).where(started: false).sort_by{|e| e[:updated_at]} +
  @project.tasks.where(done: false).where(started: nil).where(importance: 'priority').where(priority: 'high').sort_by{|e| e[:updated_at]}.reverse +
  @project.tasks.where(done: false).where(started: nil).where(importance: 'priority').where(priority: 'low').sort_by{|e| e[:updated_at]}.reverse + 
  @project.tasks.where(done: false).where(started: nil).where(importance:'due').where.not(duedate: nil).sort_by{|e| e[:duedate]} + 
  @project.tasks.where(done: false).where(started: nil).where(importance: 'due').where(duedate: nil).sort_by{|e| e[:updated_at]} + 
  @project.tasks.where(done: false).where(started: nil).where(importance: "").sort_by{|e| e[:updated_at]} +
  @project.tasks.where(done: false).where(started: nil).where(importance: nil).sort_by{|e| e[:updated_at]} +
  @project.tasks.where(done: true).sort_by{|e| e[:updated_at]}.reverse 
%>
<thead>
	<tr class="table-header">
		<th>Status</th>
		<th>Name</th>
		<th>Actions</th>
	<tr>
</thead>
<tbody>
	<% @tasks_sorted_project.each do |task| %>
		<% if task.done==false %>
			<tr class="warning">
				<% @tasks_count = @tasks_count + 1 %>
				<%# if task.started_at == nil || task.started_at == "" %>
				<% if task.started == false || task.started == nil %>
					<td>
						<span class="label label-warning">To Do</span>
						<% if task.importance != nil %>  
			              <% if task.importance == "priority" %>
			                <% if task.priority == "high" %>
			                    <span class="label label-danger">
			                    	<i class="fa fa-arrow-up fa-fw" style="color:white"></i>
			                    </span>
			                <% elsif task.priority == "low" %>
			                	<span class="label label-danger">
			                    	<i class="fa fa-arrow-down fa-fw" style="color:white"></i>
			                    </span>
			                <% end %>
			              <% elsif task.importance == "due" %>
			                <span class="label label-danger">
			                  <% if task.duedate != nil %>
	                        	<%= task.duedate.strftime("%b %e '%y") %>
		                      <% else %>
		                        Date not specified
		                      <% end %>
			                </span>    
			              <% end %>
			            <% end %>

					</td>
					<td><%= link_to task.description, edit_task_path(task) %></td>
				<% else %>
					<% if @tasks.where('id=?',task.id).take.started_at == nil %>
						<% @tasks.where('id=?',task.id).take.started_at = DateTime.now %>
						<% @tasks.where('id=?',task.id).take.save %>
					<% end %>
					<td>
						<span class="label label-info">In Progress</span>

						<% if task.importance != nil %>  
			              <% if task.importance == "priority" %>
			                <% if task.priority == "high" %>
			                    <span class="label label-danger">
			                    	<i class="fa fa-arrow-up fa-fw" style="color:white"></i>
			                    </span>
			                <% elsif task.priority == "low" %>
			                	<span class="label label-danger">
			                    	<i class="fa fa-arrow-down fa-fw" style="color:white"></i>
			                    </span>
			                <% end %>
			              <% elsif task.importance == "due" %>
			                <span class="label label-danger">
			                  <% if task.duedate != nil %>
	                        	<%= task.duedate.strftime("%b %e '%y") %>
		                      <% else %>
		                        Date not specified
		                      <% end %>
			                </span>    
			              <% end %>
			            <% end %>
			            <!--
						Started 
						<%# if @tasks.where('id=?',task.id).take.started_at >= DateTime.now.to_date %>
							Today at 
				        <%# else %>
				    	    <%#= number_to_human(DateTime.now.to_date - @tasks.where('id=?',task.id).take.started_at.to_date) %> days ago
				        <%# end %>

						<%#= @tasks.where('id=?',task.id).take.started_at.strftime("%l:%M %p") %>
						<%# if task.time_limit != nil %>
							<br>
							Time limit: <%#= task.time_limit %> min
							Limit at
							<%#= (@tasks.where('id=?',task.id).take.started_at + task.time_limit * 60).strftime("%l:%M %p") %>
							You have
							<%#= (((@tasks.where('id=?',task.id).take.started_at + task.time_limit * 60).to_time-DateTime.now.to_time)/60).round(0) %>
							min left!
						<%# end %>
					-->
					</td>
					<td><%= link_to task.description, edit_task_path(task) %></td>
				<% end %>
				<%# if task.started_at != nil && task.started_at != "" %>
				<% if task.started %>
					<td>
						<div class="btn-group gray">
							<% if task.started_at %>
								<% if task.paused_at == nil %>
									<%= link_to raw("<i class=\"fa fa-pause fa-fw\"></i>"),task_path(task, "task[paused_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								<% elsif (task.paused_at != nil) &&  (task.resumed_at == nil) %>
									<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[resumed_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								<% elsif task.paused_at > task.resumed_at %>
									<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[resumed_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								<% elsif task.paused_at < task.resumed_at %>
									<%= link_to raw("<i class=\"fa fa-pause fa-fw\"></i>"), task_path(task, "task[paused_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
								<% end %>
								<%= link_to raw("<i class=\"fa fa-refresh fa-fw\"></i>"), task_path(task, "task[started_at]" => DateTime.now), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
							<% end %>
							<%= link_to raw("<i class=\"fa fa-stop fa-fw\"></i>"), task_path(task, "task[started]" => false), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
							<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), task_path(task, "task[done]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						</div>
					</td>
				<% end %>
				<%# if task.started_at == nil || task.started_at == "" %>
				<% if task.started == nil || task.started == false %>
					<td>
						<div class="btn-group gray">
							<%= link_to raw("<i class=\"fa fa-play fa-fw\"></i>"), task_path(task, "task[started]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
							<%= link_to raw("<i class=\"fa fa-check fa-fw\"></i>"), task_path(task, "task[done]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						</div>
					</td>
				<% end %>
			  </tr>
		<% end %>
	<% end %>
	<% @tasks_sorted_project.each do |task| %>
		<% if task.done==true %>
			<tr class="success" >
				<% @tasks_count = @tasks_count + 1 %>
				<td><span class="label label-success"><%= "Complete" %></span></td>
				<% @tasks_done = @tasks_done + 1 %>
				<td><%= link_to task.description, edit_task_path(task) %></td>
				<td>
					<div class="btn-group gray">
						<%= link_to raw("<i class=\"fa fa-bolt fa-fw\"></i>"), task_path(task, "task[done]" => false), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% if current_user.email == task.creator %>
							<%= link_to raw("<i class=\"fa fa-trash-o fa-fw\"></i>"), task, method: :delete, data: { confirm: "Delete task? This action cannot be undone" }, class: "btn btn-project btn-sm" %>
						<% end %>
					</div>
				</td>
			</tr>
		<% end %>
	<% end %>
</tbody>

<% if @tasks_done == 0 && @tasks_count == 0 %>
	<% @tasks_complete = 0 %>
<% else %>
	<% @tasks_complete = number_to_human(@tasks_done.to_f / @tasks_count * 100).to_i %>
	<tr><td colspan="4">
		<% @tasks_remain = @tasks_count - @tasks_done %>
		<div class="progress">
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100-@tasks_complete" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100-@tasks_complete %>%;">
			    	<%= @tasks_remain %> to go
			  	</div>

				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@tasks_complete" aria-valuemin="0" aria-valuemax="100" style="width:<%= @tasks_complete %>%;">
			    	<%= @tasks_done %> done
			  	</div>
			</div>
		</div>
	</td></tr>
	<% @project.progress = @tasks_complete %>
<% end %>
