<% @entity_count = 0 %>
<thead>
	<tr class="table-header">
		<th>#</th>
		<th>Entity</th>
		<th>Status</th>
		<th>Action(s)</th>
	</tr>
</thead>
<tbody>
	<% @project.entities.each do |entity| %>
		<% if entity.step_id == nil %>
			<tr>
		<% elsif entity.step_id == 0 %>
			<tr class="danger">
		<% elsif entity.step_id <= @project.steps.count %>
			<tr class="warning">
		<% else %>
			<tr class="success">
		<% end %>
			<td><%= @entity_count = @entity_count + 1 %></td>
			<td><%= link_to entity.name, edit_entity_path(entity)%></td>
			<td>
				<% if entity.step_id == nil || entity.step_id == 0 %>
					Unassigned
				<% elsif entity.step_id <= @project.steps.count %>
					on Step <%= entity.step_id %>
				<% else %>
					Complete
				<% end %>
			</td>
			<td>
				<div class="btn-group gray">
					<% if entity.step_id != nil %>
						<% if (entity.step_id > @project.steps.count) || entity.step_id == 0 %>
							<%= link_to raw("<i class=\"fa fa-bolt fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => 1), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
						<% end %>
					<% else %>
						<%= link_to raw("<i class=\"fa fa-bolt fa-fw\"></i>"), entity_path(entity, "entity[step_id]" => 1), :method => :put, :confirm => "Sure?", class: "btn btn-project btn-sm" %>
					<% end %>
					
					<%= link_to raw("<i class=\"fa fa-trash-o fa-fw\"></i>"), entity, method: :delete, data: { confirm: "Delete entity? This action cannot be undone" }, class: "btn btn-project btn-sm" %>
				</div>
			</td>
		</tr>
	<% end %>
</tbody>