.nested-fields
  .field
    = f.label :order
    %br
    = f.text_field :order
  .field
    = f.label :description
    %br
    = f.text_field :description
  .field
    = f.label :done
    = f.check_box :done
  = link_to_remove_association "remove step", f