<% if task.started_at != nil %>
  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
<% end %>

<%= link_to task.description, edit_task_path(task) %>

<span class="label label-info">
  <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
</span>

<% if task.importance != nil %>  
  <% if task.importance == "priority" %>
    <% if task.priority == "high" %>
       <span class="label label-danger"> 
          <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
        </span>
    <% elsif task.priority == "low" %>
      <span class="label label-danger">
          <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
      </span>
    <% end %>
  <% elsif task.importance == "due" %>
    <span class="label label-danger">
      <%=task.duedate.to_formatted_s(:rfc822)%>
    </span>
  <% end %>
<% end %>