.nested-fields
	.field
		= f.label :description
		= f.text_field :description
	.field
		= f.label :done
		= f.check_box :done
	- if :creator != nil
		- if :creator != current_user.email
			.field
				= current_user.email
				= :creator
				= f.label :creator
				= f.text_field :creator, :disabled => true
		.field
			= f.label :accepted, "Accept or Reject"
			= f.select :accepted, options_for_select([nil,['Accept',true],['Reject',false]])
	.field
		= f.label :priority
		- if :priority == nil
			= f.select :priority, options_for_select(["None","Low","High"],"None")
		- else
			= f.select :priority, options_for_select(["None","Low","High"],:priority)
	.field
		= f.label :assignee
		= f.select :assignee, User.pluck(:email), :prompt => "Select One"
	= link_to_remove_association "remove task", f, :class => "btn btn-default btn-sm"