<ol class="breadcrumb">
	<li><%= link_to 'All Projects', projects_path %></li>
	<li><%= link_to @project.title, @project %></li>
	<li class="active"><u>Editing</u></li>
</ol>

<div class="well">
	<%= render 'form' %>
	<br>
	<%= link_to @project, method: :delete, data: { confirm: 'This will DELETE the entire project & ALL associated steps and/or tasks? This action cannot be undone!' }, class: "btn btn-danger" do %>
	  <i class="fa fa-trash-o fa-lg"></i>
	  Delete Project
	<% end %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', @project %></li>
</ul>