<% if @projects.count > 0 %>
  <div class="row">
    <% @projects.sort_by{|e| e[:title]}.each do |project| %>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <% if project.category=="checklist" %>
              <i class="fa fa-check-circle-o fa-lg pull-right fa-panel" style="color:#fff"></i>
            <% elsif project.category=="process" %>
              <i class="fa fa-list-ol fa-lg pull-right fa-panel" style="color:#fff"></i>
            <% end %>
            <%= link_to truncate(project.title, length: 25, omission: '...'), project %>
          </div>
          <table class="table table-condensed">
            <tr>
              <td align="center">
                <% if project.category == "checklist" %>
                <% @project_open_task_count = project.tasks.where('done = ?', false).count %>
                  <% if @project_open_task_count > 0 %>
                    <input type="text" 
                      value="<%= @project_open_task_count %>" data-max="<%= project.tasks.count %>" 
                      class="dial1" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                    <script>
                    $(function() {
                        $(".dial1").knob({
                        }).addClass('animated zoomIn');
                    });
                    </script>
                  <% else %>
                    <input type="text" 
                      value="<%= project.tasks.where('done = ?', true).count %>" data-max="<%= project.tasks.where('done = ?', true).count %>" 
                      class="dial2" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#5cb85c" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                    <script>
                    $(function() {
                        $(".dial2").knob({
                        }).addClass('animated zoomIn'); 
                    });
                    </script>
                  <% end %>
                <% elsif project.category == "process" %>
                  <% if project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count > 0 %>
                    <input type="text" 
                      value="<%= project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count %>"
                      data-max="<%= project.entities.where('step_id > ?', 0).count %>"
                      class="dial3" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                    <script>
                    $(function() {
                        $(".dial3").knob({
                        }).addClass('animated zoomIn'); 
                    });
                    </script>
                  <% else %>
                    <input type="text" 
                      value="0" 
                      class="dial4" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#5cb85c" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                    <script>
                    $(function() {
                        $(".dial4").knob({
                          'min': 0,
                          'max': 1,
                          'fontWeight': 900
                        }).addClass('animated zoomIn'); 
                    });
                    </script>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td align="center">
                <% if project.description != "" %>
                  <%= truncate(project.description, length: 30, omission: '...') %>
                <% else %>
                  <i>No Description</i>
                <% end %>
              </td>
            </tr>
            <tr class="gray">
              <td align="center">
                <div class="btn-group">
                  <%= link_to project, class: "btn btn-default btn-sm btn-project", title: 'View', rel: 'tooltip' do %>
                    <i class="fa fa-eye fa-lg"></i>
                  <% end %>
                  <% if project.category == "checklist" %>
                    <%= link_to new_project_task_path(project), class: "btn btn-default btn-sm btn-project", title: 'Add Task', rel: 'tooltip' do%>
                     <i class="fa fa-plus fa-lg"></i>
                    <% end %>
                   <% elsif project.category == "process" %>
                    <%= link_to new_project_entity_path(project), class: "btn btn-default btn-sm btn-project", title: 'Add Entity', rel: 'tooltip' do%>
                     <i class="fa fa-plus fa-lg"></i>
                    <% end %>
                  <% end %>
                  <% if project.creator == current_user.email %>
                    <%= link_to edit_project_path(project), class: "btn btn-default btn-sm btn-project", title: 'Edit', rel: 'tooltip' do %>
                      <i class="fa fa-pencil fa-lg"></i>
                     <% end %>
                    <%= link_to project, method: :delete, data: { confirm: 'Delete project? This action cannot be undone' }, class: "btn btn-default btn-sm btn-project", title: 'Delete', rel: 'tooltip' do %>
                        <i class="fa fa-trash-o fa-lg"></i>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1 class="center-align">Create your first Project<h1>
  <br>
  <div class="container-fluid">
    <div class="col-md-6 center-align">
      <%= link_to newchecklist_path, class: "project-button", :method => :get do %>
        <span class="feature-icon">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x blue"></i>
              <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
            </span>
        </span>
        <span class="project-text">
          <span class="blue">
            New Checklist
          </span>
        </span>
      <% end %>
      <div class="project-content">
        A to do list with items that are either <i>pending</i> or <i>completed</i>.
        <br><br>  
        Some examples would be your task list for the day, a grocery list, or anything where you would check off each item as done.
      </div>
    </div>

    <div class="col-md-6 center-align">
      <%= link_to newprocess_path, class: "project-button", :method => :get do %>
        <span class="feature-icon">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x orange"></i>
              <i class="fa fa-list-ol fa-stack-1x fa-inverse"></i>
            </span>
        </span>
        <span class="project-text">
          <span class="orange">
            New Process
          </span>
        </span>
      <% end %>
      <div class="project-content">
        A pipeline with multiple steps and different entities <i>(e.g. candidates, clients, etc.)</i>
        <br><br>  
        Some examples would be your sales pipeline, hiring process, or any other repeatable list of things you need to do.
      </div>
    </div>
  </div>
<% end %>