<ol class="breadcrumb">
  <li><%= link_to 'All Projects', projects_path %></li>
  <li class="active">New Project</li>
</ol>

<div class="well">
	<%= render 'form' %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', projects_path %></li>
</ul>