<% @tasks.each do |task| %>
  <% if task.importance == 'due' %>
    <% task.id %>
    <% if task.duetime !=nil && task.duedate !=nil %>
      <% t = task.duetime %>
      <% d = task.duedate %>
      <% z = "Pacific Time (US & Canada)" %>
      <% task.due = DateTime.new(d.year, d.month, d.day, t.hour, t.min, t.sec, z) %>
      <% task.save %>
    <% elsif task.duetime == nil && task.duedate != nil %>
      <% d = task.duedate %>
      <% z = "Pacific Time (US & Canada)" %>
      <% task.due = DateTime.new(d.year, d.month, d.day, 23, 59, 59, z) %>
      <% task.save %>
    <% elsif task.duetime != nil && task.duedate == nil %>
      <% d = Date.today %>
      <% t = task.duetime %>
      <% z = "Pacific Time (US & Canada)" %>
      <% task.due = DateTime.new(d.year, d.month, d.day, t.hour, t.min, t.sec, z) %>
      <% task.save %>
    <% else %>
      <% task.due = DateTime.now %>
    <% end %>
  <% end %>
<% end %>

<% @tasks_sorted = 
  @tasks.where('done = ?', false).where('importance = ?','priority').where('priority = ?','high').sort_by{|e| e[:project_id]} +
  @tasks.where('done = ?', false).where('importance = ?','priority').where('priority = ?','low').sort_by{|e| e[:project_id]} + 
  @tasks.where('done = ?', false).where('importance = ?','due').sort_by{|e| e[:due]} +
  @tasks.where('done = ?', false).where('importance = ?', "").sort_by{|e| e[:project_id]} +
  @tasks.where('done = ?', false).where('importance IS ?', nil).sort_by{|e| e[:project_id]} +
  @tasks.where('done = ?', false).where('importance = ?', "none").sort_by{|e| e[:project_id]} +
  @tasks.where('done = ?', true) 
%>

<% @tasks_in_progress = @tasks.where('done = ?',false).where.not('started_at IS ?',nil).sort_by{|e| e[:updated_at]} %>

<nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        -->
        <ul class="nav navbar-nav subnav">
          <% @awaiting_count = 0 %>
          <% @projects.each do |project| %>
            <% @awaiting_count = @awaiting_count + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', nil).count %>
          <% end %>
          <% if @awaiting_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "awaiting") do %>
                Approval Required
                <span class="badge badge-dark">
                  <%= @awaiting_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @myassigned_count = 0 %>
          <% @projects.each do |project| %>
            <% @myassigned_count = @myassigned_count + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', true).count %>
          <% end %>
          <% if @myassigned_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "myassigned") do %>
                My Assigned
                <span class="badge badge-dark">
                  <%= @myassigned_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @myopen_count = 0 %>
          <% @projects.each do |project| %>
            <% @myopen_count = @myopen_count + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee = ? OR assignee = ?',nil,"").count %>
          <% end %>
          <% if @myopen_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "myopen") do %>
              
                My Open
                <span class="badge badge-dark">
                  <%= @myopen_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @mydelegated_count = 0 %>
          <% @projects.each do |project| %>
            <% @mydelegated_count = @mydelegated_count + project.tasks.where('creator = ?', current_user.email).where('done = ?', false).where('assignee != ?', "").count %>
          <% end %>
          <% if @mydelegated_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "mydelegated") do %>
                
                My Delegated
                <span class="badge badge-dark">
                  <%= @mydelegated_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @allopen_count = 0 %>
          <% @projects.each do |project| %>
            <% @allopen_count = @allopen_count + project.tasks.where('done = ?', false).count %>
          <% end %>
          <% if @allopen_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "allopen") do %>
              
                All Open
                <span class="badge badge-dark">
                  <%= @allopen_count %>
                </span>
              <% end %>
            </li>
          <% end %>

          <% @alltasks_count = 0 %>
          <% @projects.each do |project| %>
            <% @alltasks_count = @alltasks_count + project.tasks.count %>
          <% end %>
          <% if @alltasks_count > 0 %>
            <li>
              <%= link_to projects_path(anchor: "alltasks") do %>
              
                All Tasks
                <span class="badge badge-dark">
                  <%= @alltasks_count %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <!--</div>-->
    </div>
  </div>
</nav>
<div class="row">
  <% @projects.sort_by{|e| e[:title]}.each do |project| %>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <% if project.category=="checklist" %>
            <i class="fa fa-check-circle-o fa-lg pull-right fa-panel" style="color:#fff"></i>
          <% elsif project.category=="process" %>
            <i class="fa fa-list-ol fa-lg pull-right fa-panel" style="color:#fff"></i>
          <% end %>
          <%= truncate(project.title, length: 25, omission: '...') %>
        </div>
        <table class="table table-condensed">
          <tr>
            <td align="center">
              <% if project.category == "checklist" %>
              <% @project_open_task_count = project.tasks.where('done = ?', false).count %>
                <% if @project_open_task_count > 0 %>
                  <input type="text" 
                    value="<%= @project_open_task_count %>" data-max="<%= project.tasks.count %>" 
                    class="dial1" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                  <script>
                  $(function() {
                      $(".dial1").knob({
                      });
                  });
                  </script>
                <% else %>
                  <input type="text" 
                    value="<%= project.tasks.where('done = ?', true).count %>" data-max="<%= project.tasks.where('done = ?', true).count %>" 
                    class="dial2" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#5cb85c" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                  <script>
                  $(function() {
                      $(".dial2").knob({
                      }); 
                  });
                  </script>
                <% end %>
              <% elsif project.category == "process" %>
                <% if project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count > 0 %>
                  <input type="text" 
                    value="<%= project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count %>"
                    data-max="<%= project.entities.where('step_id > ?', 0).count %>"
                    class="dial3" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                  <script>
                  $(function() {
                      $(".dial3").knob({
                      }); 
                  });
                  </script>
                <% else %>
                  <input type="text" 
                    value="0" 
                    class="dial4" data-width="100" data-height="85" data-angleArc="250" data-angleOffset="-125" data-readOnly=true data-fgColor="#5cb85c" data-bgColor="#5cb85c" data-thickness=".2" data-fontWeight="100" data-font="Helvetica">
                  <script>
                  $(function() {
                      $(".dial4").knob({
                        'min': 0,
                        'max': 1,
                        'fontWeight': 900
                      }); 
                  });
                  </script>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td align="center">
              <% if project.description != "" %>
                <%= truncate(project.description, length: 30, omission: '...') %>
              <% else %>
                <i>No Description</i>
              <% end %>
            </td>
          </tr>
          <tr class="gray">
            <td align="center">
              <div class="btn-group">
                <%= link_to project, class: "btn btn-default btn-sm btn-project", title: 'View', rel: 'tooltip' do %>
                  <i class="fa fa-eye fa-lg"></i>
                <% end %>
                <% if project.category == "checklist" %>
                  <%= link_to new_project_task_path(project), class: "btn btn-default btn-sm btn-project", title: 'Add Task', rel: 'tooltip' do%>
                   <i class="fa fa-plus fa-lg"></i>
                  <% end %>
                 <% elsif project.category == "process" %>
                  <%= link_to new_project_step_path(project), class: "btn btn-default btn-sm btn-project", title: 'Add Step', rel: 'tooltip' do%>
                   <i class="fa fa-plus fa-lg"></i>
                  <% end %>
                <% end %>
                <% if project.creator == current_user.email %>
                  <%= link_to edit_project_path(project), class: "btn btn-default btn-sm btn-project", title: 'Edit', rel: 'tooltip' do %>
                    <i class="fa fa-pencil fa-lg"></i>
                   <% end %>
                  <%= link_to project, method: :delete, data: { confirm: 'Delete project? This action cannot be undone' }, class: "btn btn-default btn-sm btn-project", title: 'Delete', rel: 'tooltip' do %>
                      <i class="fa fa-trash-o fa-lg"></i>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>


<!--
<div>
  <table class="table table-condensed table-hover">
    
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>Count</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    

    <tbody>
      <% @task_count=0 %>
      <% @step_count=0 %>

      <% @projects.sort_by{|e| e[:title]}.each do |project| %>
        <tr>
          <td>
            <% if project.category=="checklist" %>
              <i class="fa fa-check-circle-o fa-lg" style="color:#886BB2"></i>
              <b><%= link_to project.title, project %></b>
              <% if project.tasks.where('done = ?', false).count > 0 %>
                <% @task_count = project.tasks.count + @task_count %>
                <td>
                  
                  <input type="text" 
                    value="<%= project.tasks.where('done = ?', false).count %>" 
                    class="dial1" data-width="50" data-height="45" data-angleArc="250" data-angleOffset="-125" data-readOnly="true" data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-linecap="round" data-fontWeight="100" data-font="Helvetica">

                  <script>
                  $(function() {
                      $(".dial1").knob({
                        'min': 0,
                        'max': <%= project.tasks.count %>,
                        'fontWeight': 900
                      }); 
                  });
                  </script>
                  <!--
                  <span class="badge badge-dark">
                    <%= project.tasks.where('done = ?', false).count %>
                  </span>
                  
                </td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>

            <% if project.category=="process" %>
              <i class="fa fa-list-ol fa-lg" style="color:#886BB2"></i>
              <b><%= link_to project.title, project %></b>
              <td>
                <% if project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count > 0 %>

                  <input type="text" 
                    value="<%= project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count %>" 
                    class="dial" data-width="50" data-height="45" data-angleArc="250" data-angleOffset="-125" data-readOnly="true" data-fgColor="#f0ad4e" data-bgColor="#5cb85c" data-thickness=".2" data-linecap="round" data-fontWeight="100" data-font="Helvetica">

                  <script>
                  $(function() {
                      $(".dial").knob({
                        'min': 0,
                        'max': <%= project.entities.where('step_id > ?', 0).count %>,
                        'fontWeight': 900
                      }); 
                  });
                  </script>

                  <span class="badge badge-dark">
                    <%= project.entities.where('step_id > ?', 0).where('step_id <= ?',project.steps.count).count %>
                  </span>
                <% end %>
              </td>
            <% end %>
          </td>
          <td>
            <%= project.description %>
          </td>
          <td>
              <% if project.creator == current_user.email %>
                <div class="btn-group">
                  <%= link_to edit_project_path(project), class: "btn btn-default btn-sm", title: 'Edit', rel: 'tooltip' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                   <% end %>
                
                  <%= link_to project, method: :delete, data: { confirm: 'Delete project? This action cannot be undone' }, class: "btn btn-default btn-sm", title: 'Delete', rel: 'tooltip' do %>
                    <i class="glyphicon glyphicon-trash"></i>
                  <% end %>
                </div>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
-->

<% if @awaiting_count > 0 %>
  <a name="awaiting">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-bullhorn"></span>
        Approval Required
        <span class="badge badge-light">
          <%= @awaiting_count %>
        </span>
        <!--<i>(tasks not done that are assigned to you but require your acceptance/rejection)</i>-->
      </div>
      <ul class="list-group">
        <% @tasks_sorted.each do |task| %>
          <% if task.done == false && (task.assignee != nil && task.assignee != "") %>
            <% if (task.assignee == current_user.email) && (task.accepted == nil) %>
              <li class="list-group-item">
                <% if task.started_at != nil %>
                  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                <% else %>
                  <i class="fa fa-circle fa-warning"></i>
                <% end %>
                <%= link_to task.description, edit_task_path(task) %>
                <span class="label label-project">
                  <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                </span>

                <% if task.importance != nil %>  
                  <% if task.importance == "priority" %>
                    <% if task.priority == "high" %>
                        <span class="label label-danger">
                          <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                        </span>
                    <% elsif task.priority == "low" %>
                      <span class="label label-danger">
                          <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                        </span>
                    <% end %>
                  <% elsif task.importance == "due" %>
                    <span class="label label-danger">
                      <% if task.due != nil %>
                        <% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
                          <%=task.due.strftime("%b %e %y EOD")%>
                        <% else %>
                            <%=task.due.strftime("%b %e %y %l:%M %P")%>
                        <% end %>
                      <% else %>
                        Date not specified
                      <% end %>
                    </span>    
                  <% end %>
                <% end %>
                
                <% if task.creator != nil && task.creator != "" %>
                  <span class="label label-success">
                    via 
                    <%= @users.where('email = ?',task.creator).take.name %>
                  </span>
                <% end %>
                <span>
                  <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"></i> Accept"), task_path(task, "task[accepted]" => true), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
                  <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-down\"></i> Reject"), task_path(task, "task[accepted]" => false), :method => :put, :confirm => "Sure?", class: "btn btn-default btn-sm" %>
                </span>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </a>
<% end %>  

<% if @myassigned_count > 0 %>
  <a name="myassigned">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Assigned
        <span class="badge badge-light">
          <%= @myassigned_count %>
        </span>
        <!--<i>(tasks not done that were assigned to you and accepted)</i>-->
      </div>
      <ul class="list-group">
        <% @tasks_sorted.each do |task| %>
          <% if task.done == false && (task.assignee != nil && task.assignee != "") %>
            <% if (task.assignee == current_user.email) && (task.accepted == true) %>
              <li class="list-group-item">
                <% if task.started_at != nil %>
                  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                <% else %>
                  <i class="fa fa-circle fa-warning"></i>
                <% end %>
                <%= link_to task.description, edit_task_path(task) %>

                <span class="label label-project">
                  <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                </span>

                <% if task.importance != nil %>  
                  <% if task.importance == "priority" %>
                    <% if task.priority == "high" %>
                        <span class="label label-danger">
                          <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                        </span>
                    <% elsif task.priority == "low" %>
                      <span class="label label-danger">
                          <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                        </span>
                    <% end %>
                  <% elsif task.importance == "due" %>
                    <span class="label label-danger">
                      <% if task.due != nil %>
                        <% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
                          <%=task.due.strftime("%b %e %y EOD")%>
                        <% else %>
                            <%=task.due.strftime("%b %e %y %l:%M %P")%>
                          <% end %>
                      <% else %>
                        Date not specified
                      <% end %>
                    </span>    
                  <% end %>
                <% end %>
                
                <% if task.creator != nil && task.creator != "" %>
                  <span class="label label-success">
                    via 
                    <%= @users.where('email = ?',task.creator).take.name %>
                  </span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </a>
<% end %>

<% if @myopen_count > 0 %>
  <a name="myopen">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Open
        <span class="badge badge-light">
          <%= @myopen_count %>
        </span>
        <!--<i>(tasks not done that you have created and not delegated)</i>-->
      </div>
      
      <ul class="list-group">
        <% @tasks_sorted.each do |task| %>
          <% if task.done == false && (task.creator != nil && task.creator != "") %>
            <% if task.creator == current_user.email && (task.assignee == nil || task.assignee == "") %>
              <li class="list-group-item">
                <% if task.started_at != nil %>
                  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                <% else %>
                  <i class="fa fa-circle-o fa-warning"></i>
                <% end %>
                <%= link_to task.description, edit_task_path(task) %>
                <span class="label label-project">
                  
                  <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                </span>
                <% if task.importance != nil %>  
                  <% if task.importance == "priority" %>
                    <% if task.priority == "high" %>
                       <span class="label label-danger"> 
                          <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                        </span>
                    <% elsif task.priority == "low" %>
                      <span class="label label-danger">
                          <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                      </span>
                    <% end %>
                  <% elsif task.importance == "due" %>
                    <span class="label label-danger">
                      <% if task.due != nil %>
                        <% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
                          <%=task.due.strftime("%b %e %y EOD")%>
                        <% else %>
                            <%=task.due.strftime("%b %e %y %l:%M %P")%>
                          <% end %>
                      <% else %>
                        Date not specified
                      <% end %>
                    </span>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </a>
<% end %>

<% if @mydelegated_count > 0 %>
  <a name="mydelegated">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Delegated
        <span class="badge badge-light">
          <%= @mydelegated_count %>
        </span>
        <!--<i>(tasks not done that you created and assigned)</i>-->
      </div>
      <ul class="list-group">
        <% @tasks_sorted.each do |task| %>
          <% if task.done == false && (task.assignee != nil && task.assignee != "") && (task.creator != nil && task.creator != "") %>
            <% if (task.assignee != current_user.email) && (task.creator == current_user.email) %>
              <li class="list-group-item">
                <% if task.started_at != nil %>
                  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
                <% else %>
                  <i class="fa fa-circle-o fa-warning"></i>
                <% end %>
                <%= link_to task.description, edit_task_path(task) %>

                <span class="label label-project">
                  <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
                </span>

                <% if task.importance != nil %>  
                  <% if task.importance == "priority" %>
                    <% if task.priority == "high" %>
                        <span class="label label-danger">
                          <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                        </span>
                    <% elsif task.priority == "low" %>
                      <span class="label label-danger">
                          <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                        </span>
                    <% end %>
                  <% elsif task.importance == "due" %>
                    <span class="label label-danger">
                      <% if task.due != nil %>
                        <% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
                          <%=task.due.strftime("%b %e %y EOD")%>
                        <% else %>
                            <%=task.due.strftime("%b %e %y %l:%M %P")%>
                          <% end %>
                      <% else %>
                        Date not specified
                      <% end %>
                    </span>    
                  <% end %>
                <% end %>
                
                <span class="label label-warning">
                  to
                  <%= @users.where('email = ?',task.assignee).take.name %>
                </span>
                <% if task.accepted == true %>
                  <span class="label label-success">
                    Accepted
                  </span>
                <% elsif task.accepted == false %>
                  <span class="label label-danger">
                    Rejected
                  </span>
                <% else %>
                  <span class="label label-default">
                    Waiting
                  </span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </a>
<% end %>

<% if @allopen_count > 0 %>
  <a name="allopen">
    <div class="panel panel-info">
      <div class="panel-heading">
        All Open
        <span class="badge badge-light">
          <%= @allopen_count %>
        </span>
        <!--<i>(all tasks not done)</i>-->
      </div>
      <ul class="list-group">
        <% @tasks_sorted.each do |task| %>
          <% if task.done == false %>
            <li class="list-group-item">
              <% if task.started_at != nil %>
                  <i class="fa fa-circle-o-notch fa-spin fa-info"></i>
              <% else %>
                <i class="fa fa-circle-o fa-warning"></i>
              <% end %>
              <%= link_to task.description, edit_task_path(task) %>  
              <span class="label label-project">
                <%= link_to @projects.where('id=?',task.project_id).take.title, @projects.where('id=?',task.project_id).take %>
              </span>

              <% if task.importance != nil %>  
                <% if task.importance == "priority" %>
                  <% if task.priority == "high" %>
                      <span class="label label-danger">
                        <i class="fa fa-arrow-up fa-lg" style="color:white"></i>
                      </span>
                  <% elsif task.priority == "low" %>
                    <span class="label label-danger">
                        <i class="fa fa-arrow-down fa-lg" style="color:white"></i>
                      </span>
                  <% end %>
                <% elsif task.importance == "due" %>
                  <span class="label label-danger">
                    <% if task.due != nil %>
                        <% if task.due.time.hour == 23 && task.due.time.min == 59 && task.due.time.sec == 59 %>
                          <%=task.due.strftime("%b %e %y EOD")%>
                        <% else %>
                            <%=task.due.strftime("%b %e %y %l:%M %P")%>
                          <% end %>
                      <% else %>
                        Date not specified
                      <% end %>
                  </span>    
                <% end %>
              <% end %>

              <% if task.assignee != nil && task.assignee != ""%>
                <span class="label label-warning">
                  to 
                  <%= @users.where('email = ?',task.assignee).take.name %>
                </span>
                <% if task.creator != nil %>
                  <span class="label label-info">
                    from 
                    <%= @users.where('email = ?',task.creator).take.name %>
                  </span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </a>
<% end %>

<% if @alltasks_count > 0 %>
  <a name="alltasks">
    <div class="panel panel-info">
      <div class="panel-heading">
        All Tasks
        <span class="badge badge-light">
          <%= @alltasks_count %>
        </span>
      </div>
      <%= render 'allopentasks' %>
    </div>
  </a>
<% end %>