<ol class="breadcrumb">
  <li><%= link_to 'All Projects', projects_path %></li>
  <li class="active"><%= @project.title %></li>
</ol>

<div class="panel panel-info">
	<div class="panel-heading container-fluid">
    <% if @project.category == "checklist" %>
      <i class="fa fa-check-circle-o fa-lg"></i>
    <% elsif @project.category == "process" %>
      <i class="fa fa-list-ol fa-lg"></i>
    <% end %>

    <strong><%= @project.title %></strong>

    <% if @project.category == "checklist" %>
      <span class="badge badge-light">
        <%= @project.tasks.count %>
      </span>
    <% elsif @project.category == "process" %>
      <span class="badge badge-light">
        <%= @project.steps.count %>
      </span>
    <% end %>

    <% if @project.creator == current_user.email %>
      <div class="btn-group">
        <%= link_to edit_project_path(@project), class: "btn btn-default btn-sm" do %>
          <i class="fa fa-pencil fa-lg"></i>
         <% end %>
        <%= link_to @project, method: :delete, data: { confirm: 'Delete project? This action cannot be undone' }, class: "btn btn-default btn-sm" do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>
      </div>
    <% end %>
      
      <% if @project.category == "checklist" %>
        <%= link_to new_project_task_path(@project), class: "btn btn-default btn-sm" do%>
         <i class="fa fa-plus fa-lg"></i>
         Add Task
        <% end %>

        <button class="btn btn-legend btn-sm pull-right" data-toggle="modal" data-target=".bs-example-modal-sm">
          <i class="fa fa-question-circle fa-lg"></i>
        </button>
        
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Key</h4>
              </div>
              <div class="modal-body">
                <div class="legend">
                  <i class="fa fa-play fa-fw"></i> Start/Resume<br>
                  <i class="fa fa-pause fa-fw"></i> Pause<br>
                  <i class="fa fa-stop fa-fw"></i> Stop<br>
                  <i class="fa fa-refresh fa-fw"></i> Reset<br>
                  <i class="fa fa-check fa-fw"></i> Complete<br>
                  <i class="fa fa-bolt fa-fw"></i> Reopen<br>
                  <i class="fa fa-trash-o fa-fw"></i> Delete
                </div>
              </div>
            </div>
          </div>
        </div>
     <% elsif @project.category == "process" %>
      <%= link_to new_project_step_path(@project), class: "btn btn-default btn-sm" do%>
       <i class="fa fa-plus fa-lg"></i>
       Add Step
      <% end %>
      <button class="btn btn-legend btn-sm pull-right" data-toggle="modal" data-target=".bs-example-modal-sm">
        <i class="fa fa-question-circle fa-lg"></i>
      </button>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Key</h4>
            </div>
            <div class="modal-body">
              <div class="legend">
                <i class="fa fa-ban fa-fw"></i> Close<br>
                <i class="fa fa-chevron-left fa-fw"></i> Back<br>
                <i class="fa fa-check fa-fw"></i> Done<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
	</div>

  <% if @project.description != nil && @project.description != "" %>
  	<div class="panel-body">
  		Description: <%= @project.description %>
  	</div>
  <% end %>
    
  <table class="table table-hover">
    <% if @project.category == "process" %>
        <%= render 'showsteps' %>
    <% end %>
    <% if @project.category == "checklist" %>
      <%= render 'showtasks' %>
    <% end %>
  </table>

  <div class="panel-footer">
    <% if @project.category == "checklist" %>
      <%= link_to new_project_task_path(@project), class: "btn btn-default btn-sm" do%>
       <i class="fa fa-plus fa-lg"></i>
       Add Task
      <% end %>
     <% elsif @project.category == "process" %>
      <%= link_to new_project_step_path(@project), class: "btn btn-default btn-sm" do%>
       <i class="fa fa-plus fa-lg"></i>
       Add Step
      <% end %>
    <% end %>
  </div>
</div>

<% if @project.category == "process" %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Entities</strong>
      <span class="badge badge-light">
        <%= @project.entities.count %>
      </span>
      <%= link_to new_project_entity_path(@project), class: "btn btn-default btn-sm" do%>
         <i class="fa fa-plus fa-lg"></i>
         Add Entity
      <% end %>
      <button class="btn btn-legend btn-sm pull-right" data-toggle="modal" data-target=".bs-example-modal-sm1">
        <i class="fa fa-question-circle fa-lg"></i>
      </button>
      <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Key</h4>
            </div>
            <div class="modal-body">
              <div class="legend">
                <i class="fa fa-bolt fa-fw"></i> Open/Reopen<br>
                <i class="fa fa-trash-o fa-fw"></i> Delete<br>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <table class="table table-hover">
      <%= render 'showentities' %>
    </table>
    <div class="panel-footer">
      <%= link_to new_project_entity_path(@project), class: "btn btn-default btn-sm" do%>
         <i class="fa fa-plus fa-lg"></i>
         Add Entity
        <% end %>    
    </div>
  </div>
<% end %>


<ul class="pager">
	<li class="previous"><%= link_to 'Back', projects_path %></li>
</ul>