<div class="jumbotron">
	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <br>
	  <div><%= f.label :email %><br>
	  <%= f.email_field :email, autofocus: true %></div>
	  <br>
	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>
	    <br>
	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>
	  <br>
	  <button type="submit" class="btn btn-success">
	      <i class="fa fa-paper-plane-o fa-lg"></i>  Sign In
	    </button>
	<% end %>

	<%#= render "devise/shared/links" %>
</div>