<%= simple_form_for([@project, @step]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, :autofocus => true %>
  </div>
  <br>
  <!--
  <div class="form-inputs">
    <%= f.input :order, disabled: true %>
  </div>
  <br>
-->
  <div class="form-inputs">
    <% if @users.count > 1 %>
      <%= f.input :assignee, selected: @step.assignee, collection: @users.where('id <> ?', current_user.id).pluck(:email), prompt: "Select an assignee" %>
    <% end %>
  </div>
  <br>
  <div class="form-actions">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-floppy-o fa-lg"></i>  Save
    </button>
  </div>
<% end %>
