<ol class="breadcrumb">
	<li><%= link_to 'All Projects', projects_path %></li>
	<li><%= link_to Project.find(@step.project_id).title, Project.find(@step.project_id) %></li>
	<li class="active"><u>Editing Step</u></li>
</ol>

<div class="well">
	<%= render 'form' %>
	<br>
	<%= link_to @step, method: :delete, data: { confirm: 'Delete step? All associated entities will be kept but will need to be reassigned. This action cannot be undone' }, class: "btn btn-danger" do %>
	  <i class="fa fa-trash-o fa-lg"></i>
	  Delete Step
	<% end %>
</div>

<ul class="pager">
	<li class="previous"><%= link_to 'Back', Project.find(@step.project_id) %></li>
</ul>