/*  Catalist Colors
    gray #D1D1E0
    dark purple #7070B8
    light purple #666699
    light blue #F5EBFF
    dark gray #5C5C8A

    Bootstrap Colors
    @brand-primary: #428bca;
    @brand-success: #5cb85c;
    @brand-info:    #5bc0de;
    @brand-warning: #f0ad4e;
    @brand-danger:  #d9534f;
*/

.wide-text
{
  textarea {
    width: 100%;
    resize:both;
  }
}
// Disables Olark slide-in animation
#habla_topbar_div{
  -webkit-animation-name: disabled_animation !important;
}

.feature {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature-icon {
  vertical-align: middle;
}

.feature-text {
  margin-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.content {
  text-align: left;
  margin: 10px;
  padding-right: 100px;
  color: #D1D1E0;
  font-size: 16px;
  display: block;
  font-weight: normal;
}

.h-list {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.project-button {
  //border-top: 1px #7070B8 solid;
  &:hover {
    //background-color: white;
    .fa-circle {
      background-color: white;
      border-radius: 50px;
    }
    .project-text {
      background-color: white;
      border-radius: 20px;
    }
  }
}
.project-text {
  //margin-left: 20px;
  //margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
}

.project-content {
  text-align: center;
  //border-top: 1px #7070B8 solid;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: #5C5C8A;
  font-size: 16px;
  display: block;
  font-weight: normal;
}
.red {
  color: #e74c3c;
}

.red-b {
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
}

.purple-b {
  background-color: #9b59b6;
}

.dark-purple {
  color: #8e44ad
}
.green {
  color: #1abc9c;
}
.green-b {
  background-color: #1abc9c;
}

.blue {
  color: #5bc0de;
}
.blue-b {
  background-color: #5bc0de;
}

.orange {
 color: #e67e22; 
}
.orange-b {
 background-color: #e67e22; 
}
.grey {
  color: #2980b9;
}
.grey-b {
  background-color: #2980b9;
}

.shade {
  opacity: 0.1;
}

body {
  background-color: #F5EBFF;
  color: #2c3e50;
  //font-family: 'Roboto Slab', sans-serif;
  //font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  color: #666699;
}

h3 {
  color: #2c3e50;
}

.mc_embed_signup {
  vertical-align: bottom;
}

.mailchimp-form {
  background-color: #f1c40f;
  padding: 20px;
  margin-top: 10px;
  color: black;
  //border: 3px white solid;
  border-bottom: 3px #D9B00E solid;
  //border-right: 3px #D9B00E solid;
  width: 100%;
  //-webkit-animation: myanimate 3s; /* Chrome, Safari, Opera */
  //animation: myanimate 3s;
  .btn {
    -webkit-animation-delay: 3s;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myanimate {
    0%   {padding: 20px;}
    25%  {padding: 21px;}
    50%  {padding: 22px;}
    75%  {padding: 21px;}
    100% {padding: 20px;}
}

/* Standard syntax */
@keyframes myanimate {
    0%   {opacity: 1;}
    25%  {opacity: 0.8;}
    50%  {opacity: 0.6;}
    100% {opacity: 0.8;}
}

.navbar-text {
  color: #666699;
  font-size: 13px;
}

.navbar-link .signin {
  margin-top: 10px;
}

.navbar-link .btn {
  color: #fff;
  &:hover{
    color: gray;
  }
}

.navbar-btn {
  background-color: #7070B8;
  color: #fff;
}

.navbar-btn .checklist {
    color: #fff;
    background-color: #1abc9c;
}

.navbar-btn .process {
    color: #fff;
    background-color: #e67e22;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-align {
  text-align: center;
}

.textbox-email {
  width: 200px; 
  height: 30px;
}

.opacity-box {
  //background-color: #666699;
  //color: #fff;
  //border: 2px #D1D1E0 solid;
  padding: 5px;
  text-align: center;
}

.btn-email {
  height: 31px;
  margin-top: -2px;
}

.jumbotron {
  border: 3px solid #666699;
  border-radius: 0px;
}

.well {
  border: 1px solid #666699;
  //-webkit-animation-delay: 1s;
}

.breadcrumb {
  border: 0px;
  background-color: #fff;
}

.btn, .btn-group {
  margin-left: 5px;
}

.modal-title {
  color: #7070B8;
  text-transform: capitalize;
}

.legend {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 16px;
  color: #7070B8;
}

.btn-legend {
  background-color: transparent;
}

.legend .fa {
  margin-bottom: 8px;
  margin-top: 8px;
}

.vert-align {
  vertical-align: middle;
}
.home-1 {
  margin-top: -20px;
  padding-bottom: 10px;
  background-color: #7070B8;
  vertical-align: middle;
  border-bottom: 4px #666699 solid;
  //background-image: url('catalist-icon-square-white.png');
  //margin-left: -120px;
  //margin-right: -120px;
  h1, h2, h3, h4, body, div {
    color: #fff;
  }
  h3 {
    color: #F5EBFF;
  }
  text-align: center;
}

.home-2 {
  background-color: white;
  color: #5C5C8A;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 4px #CCCCCC solid;
}

.home-2-numbered {
  //background-color: #666699;
  //color: #666699;
}

.box {
  //border: 2px #666699 solid;
  padding: 10px;
  //background-color: gray;
  //opacity: 0.5;
}

.outlined {
  //border: 2px #666699 solid;
  //background-color: #fff;
  //background: -webkit-radial-gradient(#fff, #fff, #3D3D5C); /* Safari 5.1 to 6.0 */
  //background: -o-radial-gradient(#fff, #fff, #3D3D5C); /* For Opera 11.6 to 12.0 */
  //background: -moz-radial-gradient(#fff, #fff, #3D3D5C); /* For Firefox 3.6 to 15 */
  //background: radial-gradient(#fff, #fff, #3D3D5C); /* Standard syntax */
}

.home-3 {
  background-color: #3D3D5C;
  color: #fff;
  padding: 30px;
  border-bottom: 4px #333366 solid;
  .header {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    //text-decoration: underline;
  } 

  h3 {
    color: #fff;
  }
  h4 {
    color: #D1D1E0;
  }
}

.home-5 {
  padding-bottom: 10px;
  background-color: #7070B8;
  vertical-align: middle;
  border-bottom: 4px #666699 solid;
  margin-bottom: -10px;
  //background-image: url('catalist-icon-square-white.png');
  //margin-left: -120px;
  //margin-right: -120px;
  h1, h2, h3, h4, body, div {
    color: #fff;
  }
  h3 {
    color: #F5EBFF;
  }
  text-align: center;
}

.features {
  //padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #D1D1E0 solid;
}

.numbers {
  //background-color: #7575A3;
  color: #fff;
  font-size: 30px;
}

.home-4 {
  background-color: #f1c40f;
  color: black;
  padding: 20px;
}

.divider {
  margin-bottom: 1px;
}

.nav-tabs {
  margin-bottom: -2px;
}

.nav-tabs .active {
  font-weight: bold;
  background-color: #5cb85c;
  border-top: 1px solid #666699;
  border-right: 1px solid #666699;
  border-left: 1px solid #666699;
  border-radius: 5px;
}

.tab-content .active {
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #666699;
  padding: 10px;
}

.gray, .panel-footer {
  background-color: #D1D1E0;
}

.progress {
  margin-bottom: 0px;
}

.progress-heading {
  margin-top: 7px;
  margin-bottom: 7px;
  border-top: 1px #D1D1E0 solid;
  border-bottom: 1px #D1D1E0 solid;
  //opacity: 0.9;
}

.dial .knob {
  font-size: 30px;
}

.label {
  margin-right: 3px;
  margin-left: 3px;
}

.label-empty {
  background-color: #F0F0F5;
  border: 1px solid #F0F0F5;
  font-style: bold;
}

.label-project {
  background-color: transparent;
  border: 1px solid gray;
}

.badge-light {
  margin-left: 3px;
  background-color: #F0E6FA;
  color: #52527A;
}

.badge-dark {
  background-color: #7575A3;
  color: #fff;
}

.badge-header {
  background-color: #3a87ad;
}

.btn, .label, .panel, .panel-info .panel-heading, .panel-footer, .badge, .navbar-btn, .table, .tr, .td, .th, .thead, .tbody, .progress, .center, .well, .breadcrumb, .jumbotron {
 border-radius: 0px; 
}
.add-on {
  margin-left: 2px;
  margin-bottom: 3px;
}

.table-header {
  background-color: #D1D1E0;
  font-style: normal;
  border: 0px;
}

.table {
  border: 0px;
}

.panel-info .panel-heading {
  padding: 12px;
  background-color: #7070B8;
  color: #fff;
  //font-family: 'Roboto Slab', sans-serif;
  font-size: small;
  text-transform: uppercase;
  font-size: 90%;
  border: 0px;
  //font-weight: bold;
  a {
    color: #fff;
    &:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
    text-decoration: none;
    }
  }

  .btn {
    color: #5C5C8A;
  }

  .pull-right {
    color: #fff;
  }
}

.panel-info .panel-heading .btn {
  text-transform: capitalize;
}

.panel-info {
  border: 0px;
  border-bottom: 0px double #CC80FF;
  border-right: 0px solid #E0B2FF;
  border-left: 0px solid #E0B2FF;
}

.fa-panel {
  margin-top: 3px;
}

.btn-project {
  background-color: transparent;
  border: transparent;
  margin-left: 5px;
  margin-right: 5px;
}
.fa-info {
  color: #5bc0de;
  margin-right: 3px;
}

.fa-success {
  color: #5cb85c;
  margin-right: 3px;
}

.fa-warning {
  color: #f0ad4e;
  margin-right: 3px;
}

.header {
  color: #666699;
}

.navbar-custom div {
  background-color: #fff;
  color: #0000ff;
}

.navbar-custom {
}

.navbar-custom .submenu {
  background-color: #F5EBFF;
}

.subnav {
  margin-left: 3px;
  margin-right: 3px;
}

.subnav a:hover {
  border-bottom: 2px solid #666699;
  background: -webkit-linear-gradient(#fff, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #fff); /* Standard syntax */
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #666699;
}

.navbar-custom .navbar-right {
//  opacity: 0.9;
//  border-left: 1px solid #D1D1E0;
//  border-bottom: 1px solid #D1D1E0;
}

.navbar-custom .navbar-nav > .active{
   color: #000;
//   background: #EAEAFF;
 }

.navbar-custom .navbar-nav {
  //font-family: 'Roboto Slab', sans-serif;
  font-size: small;
 }

 .navbar-custom .navbar-nav > .active > a, 
 .navbar-custom .navbar-nav > .active > a:hover, 
 .navbar-custom .navbar-nav > .active > a:focus {
      //color: #000;
      //background: #F5EBFF;
      border-bottom: 3px solid #666699;
      //font-family: 'Roboto Slab', sans-serif;
      font-size: small;
      //font-style: italic;
      
      //background: -webkit-linear-gradient(#fff, #F5EBFF); /* For Safari 5.1 to 6.0 */
      //background: -o-linear-gradient(#fff, #F5EBFF); /* For Opera 11.1 to 12.0 */
      //background: -moz-linear-gradient(#fff, #F5EBFF); /* For Firefox 3.6 to 15 */
      //background: linear-gradient(#fff, #F5EBFF); /* Standard syntax */

 }

.navbar-custom div .navbar-brand a {
  /*
  font-family: pacifico, helvetica, sans-serif;
  font-size: 23px;
  color: #9999cc;
  &:hover {
   color: #333399;
    background-color: transparent;
    }
  background: url(/assets/catalist-white-logo.png) no-repeat;
  */
  
  &:hover {
    background-color: transparent;
  }
}

p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  //font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* ----- DateTimePicker Styles ----- */
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  //font-weight: normal;
  //background-color: #D1D1E0;
}

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
    background: #D1D1E0;
    cursor: pointer;
}

.timepicker-picker table tbody tr td .btn{
  background-color: #D1D1E0;
  //color: green;
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
    cursor: pointer;
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: #D1D1E0;
}
/* ----- SimpleForm Styles ----- */

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: left;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 20px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  //margin-right: 10px;
  //vertical-align: -2px;
  margin-left: 30px;
  margin-top: -17px;
  margin-bottom: 10px;
  font-weight: normal;
  display: block;
}

input[type=radio]:checked + label.collection_radio_buttons{
  font-weight: 700;
}

input[type=radio] {
  margin-left: 10px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

.boolean {
  padding-left: 10px;
}

input.check_boxes {
  margin-left: 5px;
  //vertical-align: -3px;
}

input.date, input.time {
  margin-left: 5px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}