<nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <% if user_signed_in? %>
          <%= link_to root_path do %>
              <% image_tag(image_path("catalist-white-new-large.png"), size: "140x30", class: "logo") %>
          <% end %>
        <% elsif account_signed_in? %>
          <%= link_to edit_account_registration_path do %>
            <% image_tag(image_path("catalist-white-new-large.png"), size: "140x30", class: "logo") %>
          <% end %>
        <% else %>
            <%= link_to do %>
              <% image_tag(image_path("catalist-white-new-large.png"), size: "140x30", class: "logo") %>
            <% end %>
        <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if account_signed_in? %>
          <li><%= link_to edit_account_registration_path, class: "btn-default" do %>
            <i class="fa fa-cog fa-lg header"></i>
            Settings
            <% end %>
          </li>
       <% end %>
       
       <% if user_signed_in? || account_signed_in? %>
          <% if (account_signed_in? && user_signed_in?) || account_signed_in? %>
           <li class="<%= 'active' if current_page?(accounts_path) %>"><%= link_to accounts_path, class: "btn-default" do %>
              <!--<i class="fa fa-users fa-lg header"></i>-->
              Users
              <% end %>
            </li>
          <% else %>
            <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to users_path, class: "btn-default" do %>
              <!--<i class="fa fa-users fa-lg header"></i>-->
              Team
              <% end %>
            </li>
          <% end %> 

        <% end %>

        <% if user_signed_in? %>
          <%# @awaiting = [] %>
          <%# @projects.each do |project| %>
            <%# @awaiting = @awaiting + project.tasks.where('creator != ?', current_user.email).where('assignee = ?', current_user.email).where('done = ?', false).where('accepted = ?', nil) %>
          <%# end %>
          <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to projects_path, class: "btn-default" do %>
            <!--<i class="fa fa-folder-open fa-lg header"></i>-->
            Projects
            <% end %>
          </li>
          <% if @projects %>
            <% if @projects.count > 0 %>
              <li class="<%= 'active' if current_page?(tasks_path) %>">
                <%= link_to tasks_path, class: "btn-default" do %>
                  <!--<i class="fa fa-folder-open fa-lg header"></i>-->
                  Tasks 
                  <%# if @awaiting.count > 0 %>
                    <%#= @awaiting.count %>
                  <%# end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <li class="<%= 'active' if current_page?(notes_path) %>"><%= link_to notes_path, class: "btn-default" do %>
            <!--<i class="fa fa-comments fa-lg header"></i>-->
            Notes
            <% end %>
          </li>
          <% if current_page?(projects_path) %>
            <% if @projects %>
              <% if @projects.count > 0 %>
                <li>
                  <%= button_to newchecklist_path, class: "btn btn-default navbar-btn checklist btn-sm", :method => :get do %>
                    New Checklist
                    <i class="fa fa-check-circle-o fa-lg"></i>
                  <% end %>
                </li>
                <li>
                  <%= button_to newprocess_path, class: "btn btn-default navbar-btn process btn-sm", :method => :get do %>
                    New Process
                    <i class="fa fa-list-ol fa-lg"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <% if current_page?(notes_path)%>
            <% if @notes %>
              <% if @notes.count > 0 %>
                <li>
                  <%= button_to new_note_path, class: "btn btn-default navbar-btn btn-sm", :method => :get do %>
                    New Note
                    <i class="fa fa-plus fa-lg"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="btn-default" do>
              <i class="fa fa-plus fa-lg header"></i>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to new_project_path do %>
                  Project
                <% end %>
              </li>
              <li>
                <%= link_to new_note_path do %>
                  Note
                <% end %>
              </li>
            </ul>
          </li>
        -->
        </ul>
        <!--
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" class="btn btn-default" data-toggle="dropdown">
              <i class="fa fa-envelope fa-lg header"></i>
              <!--Contact
              <b class="caret"></b>-->
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= mail_to "support@catalist.me", subject: "[BUG REPORT]", body: "Sorry for the inconvenience. We will get back to you as soon as possible!\n\nPlease provide as many details as you can including the steps that caused the error\n\n*Bug Details*\n\nUser: #{current_user.email}\nTime: #{Time.now}\n-------\nUser Comments:\n", class: "btn-default" do %>
                  Report Bug
                <% end %>
              </li>
              <li>
                <%= mail_to "support@catalist.me", subject: "[GENERAL REQUEST]", body: "Let us know how we can be of assistance!\n\nNeed additional users? Forgot password? Need suggestions? No problem!\n\n*Request Details*\n\nUser: #{current_user.email}\nTime: #{Time.now}\n-------\nUser Comments:\n", class: "btn-default" do %>
                  General Request
                <% end %>
              </li>
            </ul>
          </li>
          
          <li class="<%= 'active' if current_page?(about_path) %>">
            <%= link_to about_path do %>
              <i class="fa fa-info fa-lg header"></i>
            <% end %>
          </li>
          <!--
          <li class="<%#= 'active' if current_page?(faq_path) %>">
            <%#= link_to faq_path do %>
              <i class="fa fa-question fa-lg header"></i>
            <%# end %>
          </li>
        -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" class="btn btn-default" data-toggle="dropdown">
              <i class="fa fa-user fa-lg header"></i>
              <!--<%= current_user.name %>
              <b class="caret"></b>-->
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <% if current_user.supervisor %>
                <li><%= link_to "Dashboard", dashboard_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <div><%#= Time.now.in_time_zone("Central Time (US & Canada)").to_s.split(" ").second %></div>
        <% end %>
      </ul>

      <% if account_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" class="btn btn-default" data-toggle="dropdown">
                <i class="fa fa-lock fa-lg header"></i>
                <%= current_account.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Log Out", destroy_account_session_path, method: :delete %></li>
              </ul>
            </li>
          <div><%#= Time.now.in_time_zone("Central Time (US & Canada)").to_s.split(" ").second %></div>
        </ul>
      <% end %>

      <% if !(user_signed_in? || account_signed_in?) %>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">
            Already have an invite?
          </p>
          <li class="navbar-link signin">
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>