<div class="panel panel-info">
  <div class="panel-heading">
    All Users
    (<%= @users.count(:email) %>) | 
    <%= link_to new_user_registration_path, class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-plus"></span>
      New User
    <% end %>
  </div>

  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= user.email %>
        <div class="btn-group">
          <%#= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" do %>
            <!--<i class="glyphicon glyphicon-trash"></i> -->
          <%# end %> 
        </div>
      </li>
    <% end %>
  </ul>
</div>